<!DOCTYPE html>
<html>


<!--  Fire Visualization Layout Part   -->
<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title th:text="${title}">标题</title>
<link th:href="@{/css/base.css}" rel="stylesheet" />
<link th:href="@{/css/mui.min.css}" rel="stylesheet" />
<link th:href="@{/css/mui.picker.min.css}" rel="stylesheet" />
<link th:href="@{/common/iconfont/iconfont.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/favicon.ico}" rel="apple-touch-icon-precomposed">
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon1.ico}" />
<link th:href="@{/favicon.ico}" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>

<body>
    <!--菜单部分-->
    <aside th:fragment="menu" id="offCanvasSide"
        class="mui-off-canvas-right">
        <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="menu-title">菜单</div>
                <ul class="menu">
                    <li><a th:href="@{/app/situation}"><i class="iconfont icon-region"></i>区域概况</a></li>
                    <li><a th:href="@{/app/hiddInvest}"><i class="iconfont icon-hidden"></i>隐患排查</a></li>
                    <li><a th:href="@{/app/fireEvent}"><i class="iconfont icon-warn"></i>警情</a></li>
                    <li><a th:href="@{/app/punishment}"><i class="iconfont icon-police"></i>执法</a></li>
                    <li><a th:href="@{/app/statistical}"><i class="iconfont icon-bar-chart"></i>数据统计</a></li>
                    <li><a th:href="@{/app/keyUnit}"><i class="iconfont icon-star"></i>重点单位信息</a></li>
                    <li><a th:href="@{/app/evaluate}"><i class="iconfont icon-evaluation"></i>评估结果</a></li>
                </ul>
            </div>
        </div>
    </aside>

    <!--header部分-->
    <header th:fragment="header" class="mui-bar mui-bar-nav">
        <div class="logo">
            <img th:src="@{/img/logo.png}" />
        </div>
        <a id="offCanvasBtn" href="#offCanvasSide"
            class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
        <h1 th:text="${headTitle}" class="mui-title">头部标题</h1>
    </header>

    <!-- 火情下拉列表 -->
    <div th:fragment="alarm-menu" id="trendPopover" style="display: none" class="popoverbox">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a
                    th:href="@{/app/fireEvent/}">天河区警情趋势</a></li>
            <li class="mui-table-view-cell"><a
                    th:href="@{/app/fireEvent/toAreaPage}">街道警情趋势</a></li>
            <li class="mui-table-view-cell"><a
                    th:href="@{/app/fireEvent/toBasePage}">火灾警情基本数据</a></li>
        </ul>
    </div>
    
    <!-- 执法下拉列表 -->
    <div th:fragment="law-menu" id="trendPopover" style="display: none" class="popoverbox">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a
                    th:href="@{/app/punishment/}">天河区执法趋势</a></li>
            <li class="mui-table-view-cell"><a
                    th:href="@{/app/punishment/toAreaPage}">街道执法趋势</a></li>
            <li class="mui-table-view-cell"><a
                    th:href="@{/app/punishment/toBasePage}">火灾执法基本数据</a></li>
        </ul>
    </div>
</body>

<footer></footer>
</html>