<!DOCTYPE html>
<html>
<head th:with="title=${'警情'}" th:include="/layouts/layout::head">
</head>
<body>

	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">

		<!--菜单部分-->
		<div th:replace="/layouts/layout::menu"></div>
		<div class="mui-inner-wrap">
			<!-- Header 部分 -->
			<div th:replace="/layouts/layout::header"></div>
			<div th:with="headTitle=${'警情'}"></div>
			<div th:replace="/layouts/layout::menu"></div>
			<div id="offCanvasContentScroll"
				class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="filterBox">
						<button onclick="hide('trendPopover')" class="fl btn-filter">
							天河区警情趋势 <i class="mui-icon mui-icon-arrowdown"></i>
						</button>
						<div th:replace="/layouts/layout::alarm-menu"></div>
					</div>
					<div class="mui-content-padded" style="height: 100%">
						<!-- 内容区域 -->
						<div class="chartBox mt20 mb20">
							<!-- <img src="../custom/upload/chart1.png" width="100%" /> -->
							<div id="alarmTendency" style="height: 225px;"></div>
						</div>
						<!-- 内容区域 end -->
					</div>
				</div>
			</div>
			<!-- off-canvas backdrop -->
			<div class="mui-off-canvas-backdrop"></div>
		</div>
	</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
	<script th:src="@{/js/echarts.min.js}"></script>
	<script th:src="@{/js/macarons.js}"></script>
	<script th:src="@{/common/echarts/eLine.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		mui.init();
		mui.get([[@{/app/fireEvent/main}]], '', function(data) {
			if (data && data.length > 0) {
				var legend = [];
				var item = [];
				var datas = [];
				var unit = [];
				unit = data[0].unit;
				for (var i = 0; i < data.length; i++) {
					legend.unshift(data[i].type);
					var da = [];
					for (var k = 0; k < data[i].data.length; k++) {
						da.unshift(data[i].data[k].value);
					}
					datas.unshift(da);
				}
				for (var j = 0; j < data[0].data.length; j++) {
					item.unshift(data[0].data[j].month);
				}
				echartLine('alarmTendency',legend,item,datas,unit);
			}
		}, 'json');
		/*]]>*/
	</script>
</body>
</html>