<!DOCTYPE html>
<html>
<head th:with="title=${'警情'}" th:include="/layouts/layout::head">
</head>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--菜单部分-->
        <div th:replace="/layouts/layout::menu"></div>
        <div class="mui-inner-wrap">
            <!-- Header 部分 -->
            <header class="mui-bar mui-bar-nav">
				<div class="logo">
					<img th:src="@{/img/logo.png}" />
				</div>
				<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
				<h1 class="mui-title">警情</h1>
			</header>
            <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="filterBox">
                        <span id="hidePopover" class="fl btn-filter">火灾警情基本数据<i class="mui-icon mui-icon-arrowdown"></i></span>
                        <!-- 火情下拉列表 -->
                        <div th:replace="/layouts/layout::alarm-menu"></div>
                        <span id="hideTimePopover" class="fr btn-filter">选择时间段 <i class="mui-icon mui-icon-arrowdown"></i></span>
                        <div id="timePopover" style="display: none" class="popoverbox">
                            <div class="mui-scroll-wrapper time-scroll-wrapper">
                                <div class="mui-scroll">
                                    <div class="regionCurrent" name="currentTime">当前：<span></span></div>
                                    <div class="rangeBox tc mt10">
                                        <div class="tl font-red pl15 mb10">输入范围</div>
                                        <div class="dateSelect">
								 			<div class="mui-row oh">
										        <div class="mui-col-xs-5">
										        	<div class="fr ml5 mr10">年</div>
										            <div class="oh"><input type="text" onclick="chooseYear()" id="chooseYear" class="input-year" readOnly="readOnly" /></div>
										        </div>
										        <div class="mui-col-xs-3">
										            <div class="fr ml5">月</div>
										            <div class="oh"><input type="text" onclick="beginMonth()" id="beginMonth" class="input-month" readOnly="readOnly" /></div>
										        </div>
										        <div class="mui-col-xs-1 tc">-</div>
										         <div class="mui-col-xs-3">
										            <div class="fr ml5">月</div>
										            <div class="oh"><input type="text" onclick="endMonth()" id="endMonth" class="input-month" readOnly="readOnly" /></div>
										        </div>
										    </div>
											<div class="mui-button-row range-button">
												<button type="button" onclick="getData()" class="mui-btn">确认</button>
											</div>
										</div>
                                    </div>
                                    <div class="selectRangeBox">
                                        <div
                                            class="tl font-red pl15 mb10">选择范围</div>
                                        <ul class="selectRangeList">
                                            <li>
                                                <div class="tit tr fl">按年份：</div>
                                                <div class="oh" id="selectYear"></div>
                                            </li>
                                            <li>
                                                <div class="tit tr fl">按半年：</div>
                                                <div class="oh" id="selectHalfYear"></div>
                                            </li>
                                            <li>
                                                <div class="tit tr fl">按季度：</div>
                                                <div class="oh" id="selectQuarter"></div>
                                            </li>
                                            <li>
                                                <div class="tit tr fl">按月份：</div>
                                                <div class="oh">
                                                    <div class="month-item"  id="selectMonth"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
  						<div class="mui-content-padded" id="bodyContent">
							<!-- 内容区域 -->
							<div class="timeBox tc fb font-red" name="currentTime"><span></span></div>
							<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-red mt15">
								<a class="mui-control-item mui-active" href="#item1">原始</a>
								<a class="mui-control-item" href="#item2">冒烟</a>
								<a class="mui-control-item" href="#item3">确认</a>
								<a class="mui-control-item" href="#item4">损失</a>
								<a class="mui-control-item" href="#item5">受伤</a>
								<a class="mui-control-item" href="#item6">死亡</a>
							</div>
							<div class="tableBox mt10">
								<div id="item1" class="mui-control-content mui-active">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">原始火灾警情</th>
											</tr>
											<tr>
												<th class="blueBg light" name="thisYear"></th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody id="tbody1"></tbody>
									</table>
								</div>
								<div id="item2" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">冒烟类成灾警情</th>
											</tr>
											<tr>
												<th class="blueBg light" name="thisYear"></th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody id="tbody2"></tbody>
									</table>
								</div>
								<div id="item3" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">确认类成灾警情</th>
											</tr>
											<tr>
												<th class="blueBg light" name="thisYear"></th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody id="tbody3">
											
										</tbody>
									</table>
								</div>
								<div id="item4" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">直接经济损失</th>
											</tr>
											<tr>
												<th class="blueBg light" name="thisYear"></th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody id="tbody4"></tbody>
									</table>
								</div>
								<div id="item5" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">受伤</th>
											</tr>
											<tr>
												<th class="blueBg light" name="thisYear"></th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody id="tbody5"></tbody>
									</table>
								</div>
								<div id="item6" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">死亡</th>
											</tr>
											<tr>
												<th class="blueBg light" name="thisYear"></th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody id="tbody6"></tbody>
									</table>
								</div>
							</div>
							<!-- 内容区域 end -->
						</div>
                    
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
    <script th:src="@{/js/mui.js}"></script>
    <script th:src="@{/js/normal.js}"></script>
    <script th:src="@{/js/mui.picker.min.js}"></script>
    <script th:src="@{/js/jquery-2.1.0.js}"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/
        mui.init();
    	//初始化并获取当年数据
        var now = new Date();
    	var beginMon=13;
    	var endMon=13;
        var beginRange = now.getFullYear() + '-01';
        var endRange = now.getFullYear() + '-' + ('0'+(now.getMonth()+1)).slice(-2);
        var currentTime = now.getFullYear() + '年01月-' + ('0' + (now.getMonth()+1)).slice(-2) + '月';
        $('div[name="currentTime"] span').text(currentTime);
    	mui.post([[@{/app/fireEvent/getBaseDate}]],{
    		beginTime: beginRange,
    		endTime: endRange
    	},function(data){
    		if(data){
    			console.log(data);
    			showData(data);
    		}
    	});
    	//##################选择时间段开始###############################
    	//范围选择
    	function chooseYear(){
        	var pickerYear = new mui.PopPicker();
        	var arrYear = [];
        	for(var i=0;i<4;i++){
        		var oneYear = {};
        		oneYear = {value: ((now.getFullYear()-i)+''),text:((now.getFullYear()-i)+'')};
        		arrYear.push(oneYear)
        	}
        	pickerYear.setData(arrYear);
    		pickerYear.show(function(res){
    			$('#chooseYear').val(res[0].text);
    		});
    	}
		function beginMonth(){
			var pickerBegin = new mui.PopPicker();
			var arrMon = [];
			for(var i=1;i<endMon;i++){
				var oneMon = {};
				oneMon = {value: (('0'+i).slice(-2)),text: (('0'+i).slice(-2))};
				arrMon.push(oneMon);
			}
			pickerBegin.setData(arrMon);
			pickerBegin.show(function(res){
    			$('#beginMonth').val(res[0].text);
    			beginMon = parseInt(res[0].text);
    		});
		}
		function endMonth(){
			var pickerEnd = new mui.PopPicker();
			var arrMon = [];
			for(var i=beginMon;i<13;i++){
				var oneMon = {};
				oneMon = {value: (('0'+i).slice(-2)),text: (('0'+i).slice(-2))};
				arrMon.push(oneMon);
			}
			pickerEnd.setData(arrMon);
			pickerEnd.show(function(res){
    			$('#endMonth').val(res[0].text);
    			endMon = parseInt(res[0].text);
    		});
		}
	    //按年份range=1
	    for(var i=0;i<3;i++){
	    	$('#selectYear').append('<button onclick="checkRange(' + (now.getFullYear()-i) + ',\'1\')">' + (now.getFullYear()-i) + '</button>');
	    }
	    //按半年range=2；按季度range=3；按月份range=4；
	    for(var j=0;j<2;j++){
	    	for(var k=0;k<2;k++){
	    		var str = '';
	    		if(k===0){
	    			str = '年上半年';
	    		}else{
	    			str = '年下半年';
	    		}
	    		$('#selectHalfYear').append('<button onclick="checkRange(' + (now.getFullYear()-j-1) + ',\'2\',' + k + ')">' + (now.getFullYear()-j-1) + str + '</button>');
	    	}
	    	for(var l=0;l<4;l++){
	    		var quarter = '';
	    		if(l===0){
	    			quarter = '年第4季度';
	    		}else if(l===1){
	    			quarter = '年第3季度';
	    		}else if(l===2){
	    			quarter = '年第2季度';
	    		}else {
	    			quarter = '年第1季度';
	    		}
	    		$('#selectQuarter').append('<button onclick="checkRange(' + (now.getFullYear()-j-1) + ',\'3\',\'\',' + l + ')">' + (now.getFullYear()-j-1) + quarter + '</button>');
	    	}
	    	var strMonths = '';
	    	var divMonths = '';
	    	for(var m=1;m<13;m++){
	    		var months = m + '月';
	    		strMonths += '<button onclick="checkRange(' + (now.getFullYear()-j-1) + ',\'4\',\'\',\'\',' + m + ')">' + months + '</button>';
	    	}
	    	divMonths = '<div class="oh">' + strMonths + '</div>';
	    	$('#selectMonth').append('<div class="tit">' + (now.getFullYear()-j-1) + '年' + '</div>' + divMonths);
	    }
	    //##################选择时间段结束###############################
	    //点击确认提交时间获取数据
	    function checkRange (year,range,half,quarter,month){
	    	
	    	if(range==='1'){
	    		beginRange = year + '-01';
	    		endRange = year + '-12';
	    		currentTime = year + '年';
	    	}else if(range === '2'){
	    		if(half === 0){
	    			beginRange = year + '-01';
	    			endRange = year + '-06';
	    			currentTime = year+'年上半年';
	    		}else{
	    			beginRange = year + '-07';
	    			endRange = year + '-12';
	    			currentTime = year+'年下半年';
	    		}
	    	}else if(range === '3'){
	    		if(quarter === 0){
	    			beginRange = year + '-10';
	    			endRange = year + '-12';
	    			currentTime = year+'年第4季度';
	    		}else if(quarter === 1){
	    			beginRange = year + '-07';
	    			endRange = year + '-09';
	    			currentTime = year+'年第3季度';
	    		}else if(quarter === 2){
	    			beginRange = year + '-04';
	    			endRange = year + '-06';
	    			currentTime = year+'年第2季度';
	    		}else{
	    			beginRange = year + '-01';
	    			endRange = year + '-03';
	    			currentTime = year+'年第1季度';
	    		}
	    	}else if(range === '4'){
	    		var monthOne = '0' + month;
	    		var monthStr = '-' + monthOne.slice(-2);
				beginRange = '' + year + monthStr;
				endRange = beginRange;
				currentTime = year+'年'+monthOne.slice(-2)+'月';
	    	}else{
	    		return;
	    	}
	    	$('div[name="currentTime"] span').text(currentTime);
	    	mui.post([[@{/app/fireEvent/getBaseDate}]],{
        		beginTime: beginRange,
        		endTime: endRange
        	},function(data){
        		if(data){
        			console.log(data);
        			showData(data);
        		}
        	});
		    isTime = false;
		    $('#bodyContent').removeAttr('class','content-backdrop');
	    	$('#timePopover').hide();
	    }
		//“输入范围”点击确认
		function getData(){
			var year = $('#chooseYear').val();
			var beginMon = $('#beginMonth').val();
			var endMon =  $('#endMonth').val();
			if(!year){
				mui.toast('请选择年份');
				return;
			}else if(!beginMon){
				mui.toast('请选择开始月份');
				return;
			}else if(!endMon){
				mui.toast('请选择结束月份');
				return;
			}
			currentTime = year + '年' + beginMon + '月-' + endMon + '月'; 
			$('div[name="currentTime"] span').text(currentTime);
			mui.post([[@{/app/fireEvent/getBaseDate}]],{
        		beginTime: year + '-' + beginMon,
        		endTime: year + '-' + endMon
        	},function(data){
        		if(data){
        			console.log(data);
        			showData(data);
        		}
        	});
			isTime = false;
			$('#bodyContent').removeAttr('class','content-backdrop');
	    	$('#timePopover').hide();
		}
	    //分类警情数据和选择时间段弹窗点击关闭另外一个
	    var isTrend = false;
	    var isTime = false;
	    $('#hidePopover').bind('tap',function(){
	    	hidePopover('trendPopover');
	    });
	    $('#hideTimePopover').bind('tap',function(){
	    	hidePopover('timePopover');
	    });
	    function hidePopover(popover){
	    	if(popover === 'trendPopover'){
	    		$('#timePopover').hide();
	    		isTime = false;
	    		if(isTrend){
	    			$('#trendPopover').hide();
	    			$('#bodyContent').removeAttr('class','content-backdrop');
	    			isTrend = false;
	    		}else{
	    			$('#trendPopover').show();
	    			$('#bodyContent').attr('class','content-backdrop');
	    			isTrend = true;
	    		}
	    		
	    	}else if(popover === 'timePopover'){
	    		$('#trendPopover').hide();
	    		isTrend = false;
	    		if(isTime){
	    			$('#timePopover').hide();
	    			$('#bodyContent').removeAttr('class','content-backdrop');
	    			isTime = false;
	    		}else{
	    			$('#timePopover').show();
	    			$('#bodyContent').attr('class','content-backdrop');
	    			isTime = true;
	    		}
	    	}
	    }
	    
	    //展示表格数据
	    function showData (data) {
	    	for(var n=1;n<7;n++){
	    		$('#tbody' + n).text('');
	    	}
	    	$('th[name="thisYear"]').text(currentTime.substr(0,4));
	    	var arrStr = [];
	    	function compare(fields){
	    		return function (a,b){
	    			var value1 = a[fields];
	    			var value2 = b[fields];
	    			return value2 - value1;
	    		}
	    	}
	    	data.sort(compare('primitiveNow'));
	    	for(var i=0;i<data.length;i++){
	    		var tr1 = '';
	    		var str1 = '';
	    		if(data[i].primitiveYearBefore !== '-'){
	    			data[i].primitiveYearBefore = (data[i].primitiveYearBefore*100).toFixed(2) + '%';
	    		}
	    		str1 = '<td class="greenBg">' + data[i].streetName + '</td><td class="blueBg">' + data[i].primitiveNow + '</td><td class="blueBg">' + data[i].primitiveBefore + '</td><td class="blueBg">' + data[i].primitiveYearBefore + '</td>';
	    		tr1 = '<tr onclick="fireList(' + data[i].id + ')"><td class="grayBg">' + (i+1) + '</td>' + str1 + '</tr>';
	    		arrStr[0]+=tr1;
	    	}
	    	data.sort(compare('smokingNow'));
	    	for(var j=0;j<data.length;j++){
	    		var tr2 = '';
	    		var str2 = '';
	    		if(data[j].smokingYearBefore !== '-'){
	    			data[j].smokingYearBefore = (data[j].smokingYearBefore*100).toFixed(2) + '%';
	    		}
	    		str2 = '<td class="greenBg">' + data[j].streetName + '</td><td class="blueBg">' + data[j].smokingNow + '</td><td class="blueBg">' + data[j].smokingBefore + '</td><td class="blueBg">' + data[j].smokingYearBefore + '</td>';
	    		tr2 = '<tr><td class="grayBg">' + (j+1) + '</td>' + str2 + '</tr>';
	    		arrStr[1]+=tr2;
	    	}
	    	data.sort(compare('affirmNow'));
	    	for(var k=0;k<data.length;k++){
	    		var tr3 = '';
	    		var str3 = '';
	    		if(data[k].affirmYearBefore !== '-'){
	    			data[k].affirmYearBefore = (data[k].affirmYearBefore*100).toFixed(2) + '%';
	    		}
	    		str3 = '<td class="greenBg">' + data[k].streetName + '</td><td class="blueBg">' + data[k].affirmNow + '</td><td class="blueBg">' + data[k].affirmBefore + '</td><td class="blueBg">' + data[k].affirmYearBefore + '</td>';
	    		tr3 = '<tr><td class="grayBg">' + (k+1) + '</td>' + str3 + '</tr>';
	    		arrStr[2]+=tr3;
	    	}
	    	data.sort(compare('lossNow'));
	    	for(var l=0;l<data.length;l++){
	    		var tr4 = '';
	    		var str4 = '';
	    		if(data[l].lossYearBefore !== '-'){
	    			data[l].lossYearBefore = (data[l].lossYearBefore*100).toFixed(2) + '%';
	    		}
	    		str4 = '<td class="greenBg">' + data[l].streetName + '</td><td class="blueBg">' + data[l].lossNow + '</td><td class="blueBg">' + data[l].lossBefore + '</td><td class="blueBg">' + data[l].lossYearBefore + '</td>';
	    		tr4 = '<tr><td class="grayBg">' + (l+1) + '</td>' + str4 + '</tr>';
	    		arrStr[3]+=tr4;
	    	}
	    	data.sort(compare('hurtNow'));
	    	for(var m=0;m<data.length;m++){
	    		var tr5 = '';
	    		var str5 = '';
	    		if(data[m].hurtYearBefore !== '-'){
	    			data[m].hurtYearBefore = (data[m].hurtYearBefore*100).toFixed(2) + '%';
	    		}
	    		str5 = '<td class="greenBg">' + data[m].streetName + '</td><td class="blueBg">' + data[m].hurtNow + '</td><td class="blueBg">' + data[m].hurtBefore + '</td><td class="blueBg">' + data[m].hurtYearBefore + '</td>';
	    		tr5 = '<tr><td class="grayBg">' + (m+1) + '</td>' + str5 + '</tr>';
	    		arrStr[4]+=tr5;
	    	}
	    	data.sort(compare('deadNow'));
	    	for(var o=0;o<data.length;o++){
	    		var tr6 = '';
	    		var str6 = '';
	    		if(data[o].deadYearBefore !== '-'){
	    			data[o].deadYearBefore = (data[o].deadYearBefore*100).toFixed(2) + '%';
	    		}
	    		str6 = '<td class="greenBg">' + data[o].streetName + '</td><td class="blueBg">' + data[o].deadNow + '</td><td class="blueBg">' + data[o].deadBefore + '</td><td class="blueBg">' + data[o].deadYearBefore + '</td>';
	    		tr6 = '<tr><td class="grayBg">' + (o+1) + '</td>' + str6 + '</tr>';
	    		arrStr[5]+=tr6;
	    	}
			for(var m=1;m<7;m++){
				$('#tbody' + m).append(arrStr[m-1]);
			}   	
	    }
	    $('#bodyContent').bind('tap',function(){
	    	if(isTrend || isTime){
		    	isTrend = false;
	        	isTime = false;
	        	$('#bodyContent').removeAttr('class','content-backdrop');
	        	$(".popoverbox").hide();
	    	}
        });
	    function fireList(id){
	    	console.log(id);
	    }
        /*]]>*/
     </script>
</body>
</html>