<!DOCTYPE html>
<html>
<head th:with="title=${'警情'}" th:include="/layouts/layout::head">
</head>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--菜单部分-->
        <div th:replace="/layouts/layout::menu"></div>
        <div class="mui-inner-wrap">
            <!-- Header 部分 -->
            <header class="mui-bar mui-bar-nav">
				<div class="logo">
					<img th:src="@{/img/logo.png}" />
				</div>
				<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
				<h1 class="mui-title">警情</h1>
			</header>
            <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="filterBox">
                        <button onclick="hidePopover('trendPopover')" class="fl btn-filter">街道警情趋势 <i class="mui-icon mui-icon-arrowdown"></i>
                        </button>
                        <div th:replace="/layouts/layout::alarm-menu"></div>
                        <button id="selectedBlock" onclick="hidePopover('regionPopover')" class="fr btn-filter"></button>
                        <div id="regionPopover" style="display: none" class="popoverbox">
                            <div class="regionCurrent"></div>
                            <ul class="regionList" id="blocks"></ul>
                        </div>
                    </div>
                    <div class="mui-content-padded" id="bodyContent">
                        <!-- 内容区域 -->
                        <div class="chartBox mt20 mb20">
                            <div id="regionTendency" style="height: 225px;"></div>
                        </div>
                        <table class="table fireDataTable">
							<thead></thead>
							<tbody></tbody>
						</table>
                        <!-- 内容区域 end -->
                    </div>
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
    <script th:src="@{/js/mui.js}"></script>
    <script th:src="@{/js/normal.js}"></script>
    <script th:src="@{/js/jquery-2.1.0.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/macarons.js}"></script>
   	<script th:src="@{/common/echarts/eLine.js}"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/
        mui.init();
    	var selected='';
      	//分类警情数据和选择时间段弹窗点击关闭另外一个
	    var isTrend = false;
	    var isRegion = false;
	    function hidePopover(popover){
	    	if(popover === 'trendPopover'){
	    		$('#regionPopover').hide();
	    		isRegion = false;
	    		if(isTrend){
	    			$('#trendPopover').hide();
	    			isTrend = false;
	    		}else{
	    			$('#trendPopover').show();
	    			isTrend = true;
	    		}
	    	}else if(popover === 'regionPopover'){
	    		$('#trendPopover').hide();
	    		isTrend = false;
	    		if(isRegion){
	    			$('#regionPopover').hide();
	    			isRegion = false;
	    		}else{
	    			$('#regionPopover').show();
	    			isRegion = true;
	    		}
	    	}
	    }
        
        //获取所有街道
        function getRegion () {
        	mui.get([[@{/app/street/findAll}]],'',function(data){
        		if(data && data.length > 0){
        			$('#selectedBlock').html(data[0].name + '<i class="mui-icon mui-icon-arrowdown"></i>');
        			$('.regionCurrent:eq(0)').html('当前：<span>' + data[0].name + '</span>');
        			for(var i=0;i<data.length;i++){
        				$('#blocks').append('<li id="selected' + data[i].id + '"><button onclick="choose(' + data[i].id + ',\'' + data[i].name + '\')">' + data[i].name + '</button></li>');
        			}
        			$('#blocks li').first().addClass('selected');
        			choose(data[0].id,data[0].name);
        		}
        	},'json');
        }
        
        //选取街道获取数据
        function choose (id,name) {
        	console.log(id + name);
        	$('#selectedBlock').html(name + '<i class="mui-icon mui-icon-arrowdown"></i>');
			$('.regionCurrent:eq(0)').html('当前：<span>' + name + '</span>');
			$('#blocks li').removeClass('selected');
			$('#selected' + id).addClass('selected');
        	mui.post([[@{/app/fireEvent/getAreaDate}]],{
        		id: id
        	},function(data){
        		if(data && data.length>0){
        			var legend = ['原始','确认','冒烟'];
    				var item = [];
    				var datas = [];
    				var unit = [];
    				var tbodytr = '';
    				unit = data[0].unit;
    				for (var i = 0; i < data.length; i++) {
    					//legend.unshift(data[i].type);
    					var da = [];
    					for (var k = 0; k < data[i].data.length; k++) {
    						da.unshift(data[i].data[k].value);
    					}
    					if(data[i].type.substr(0,2) === '原始'){
    						datas[0] = da;
    					}else if(data[i].type.substr(0,2) === '确认') {
    						datas[1] = da;
    					}else {
    						datas[2] = da;
    					}
    					//datas.unshift(da);
    				}
    				for (var j = 0; j < data[0].data.length; j++) {
    					item.unshift(data[0].data[j].month);
    					var tr = '';
    					for(var l=0;l<data.length;l++){
    						if(data[l].type.substr(0,2) === '原始'){
    							tr += '<td class="blueBg">' + data[0].data[j].value + '</td>';
    						}else if(data[l].type.substr(0,2) === '确认') {
    							tr += '<td class="blueBg">' + data[1].data[j].value + '</td>';
    						}else {
    							tr += '<td class="blueBg">' + data[2].data[j].value + '</td>';
    						}
    					}
    					tbodytr += '<tr><td class="greenBg">' + data[0].data[j].month + '</td>' + tr + '</tr>';
    				}
    				echartLine('regionTendency',legend,item,datas,unit);
    				var th = '';
    				for(var k=0;k<legend.length;k++){
    					th += '<th class="blueBg">' + legend[k] + '</th>';
    				}
    				var theadtr = '<tr><th width="45" class="greenBg">年月</th>' + th + '</tr>';
    				$('table thead').text('');
    				$('table tbody').text('');
    				$('table thead').append(theadtr);
    				$('table tbody').append(tbodytr);
        		}
        	});
        	//关闭街道选择区
        	isRegion = false;
        	$('#regionPopover').hide();
        }
        function init () {
        	getRegion();
        }
        init();
        
        $('#bodyContent').bind('tap',function(){
        	isRegion = false;
        	isTrend = false;
        	$(".popoverbox").hide();
        });
        
        /*]]>*/
    </script>
</body>
</html>