<!DOCTYPE html>
<html>
<head th:with="title=${'警情'}" th:include="/layouts/layout::head">
</head>
<body>
	
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">警情</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<h1><span id="placeName"></span></h1>
							<a href="#" id="pageback"  class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded" id="contentBox">
							<!-- 内容区域 -->
							<div class="timeBox tc fb font-red" name="currentTime"><span></span></div>
							<div class="listBox mt15">
								<ul class="groupList recordList noTitle" id="ulData">
									<li>
										<div class="mui-row">
											<div class="mui-col-xs-8">
									            <div class="tit">日期：<span ></span></div>
									            <div class="tit" ></div>
									        </div>
									        <div class="mui-col-xs-4">
									             <a href="#" class="btn-detail fr">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
									        </div>
									    </div>
									</li>
								</ul>
								<div class="no-record tc" id="norecord" style="display:none">
									<div class="no-record-main oh no-record-sm">
										<i class="mui-icon mui-icon-search fl"></i>
										<div class="fl">无记录</div>
									</div>
								</div>
							</div>

							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/jquery-2.1.0.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
	<script th:inline="javascript">
		mui.init();
		var type,streetId,time,timeStr;
		//获取参数
		function getParam(paramName) {
		    paramValue = "";
		    isFound = false;
		    if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) {
		        arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&");
		        i = 0;
		        while (i < arrSource.length && !isFound) {
		            if (arrSource[i].indexOf("=") > 0) {
		                if (arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase()) {
		                    paramValue = arrSource[i].split("=")[1];
		                    isFound = true;
		                }
		            }
		            i++;
		        }
		    }
		    return paramValue;
		}
		//获取数据
		function getData(){
			if(streetId == ''){
				$('#pageback').attr('href',[[@{/app/fireEvent/toAreaPage}]]);
			}else{
				$('#pageback').attr('href',[[@{/app/fireEvent/}]]);
			}
			mui.post([[@{/app/fireEvent/getRegionList}]],{
				streetId: streetId,
				time: time,
				type: type
			},function(data){
				if(data){
					console.log(data);
					if(streetId == ''){
						$('#placeName').css('display','none');
					}else{
						$('#placeName').text(data.streetName);
					}
					if(data.list.length>0){
						for(var i=0;i<data.list.length;i++){
							var timeStr = '<div class="mui-col-xs-8"><div class="tit">日期：<span >' + data.list[i].time + '</span></div><div class="tit" >' + data.list[i].type_change + '</div></div>';
							var detailStr = '<div class="mui-col-xs-4"><a href="#" class="btn-detail fr" id="' + data.list[i].id + '">查看详情<i class="mui-icon mui-icon-arrowright"></i></a></div>';
							var liStr = '<li><div class="mui-row">' + timeStr + detailStr + '</div></li>';
							$('#ulData').append(liStr);
						}
						setClick(data.list);
					}else{
						$('#norecord').css('display','block');
					}
				}
				
			});
		}
		//设置点击事件
		function setClick(data){
			for(var i=0;i<data.length;i++){
				$('#' + data[i].id).bind('tap',function(){
					var id = this.id;
					mui.openWindow({
						url: [[@{/app/fireEvent/event?id=}]] + id + '&type=' + type
					})
				});
			}
		}
		function init(){
			type = getParam('type');
			streetId = getParam('streetId');
			time = getParam('time');
			timeStr = time.substr(0,4) + '年' + time.substr(4,2) + '月';
			$('div[name="currentTime"] span').text(timeStr);
			getData();
		}
		init();
	</script>
</body>
</html>