<!DOCTYPE html>
<html>
<head th:with="title=${'警情'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img src="../img/logo.png" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">警情</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<h1>员村警情</h1>
							<a href="alarm-fire-list.html" class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded" id="contentBox">
							<!-- 内容区域 -->
							<div class="profileBox">
								<div class="mui-row ">
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>发生时间</h2>
							        	<p>2016年7月16日早上8时15分</p>
							        </div>
							        <div class="mui-col-xs-6 profile-items">
							        	<h2>街道</h2>
							        	<p>街道</p>
							        </div>
							        <div class="mui-col-xs-6 profile-items">
							        	<h2>社区</h2>
							        	<p>广州大道</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>警情种类</h2>
							        	<p>冒烟</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>具体案情</h2>
							        	<p>2016年7月16日早上8时15分许，黄埔大道西201号金泽大厦26楼15房冒浓烟，后马上有119消防员和公安人员到场抢救，发现是一间办公室内的电源插线板短路着火冒烟，引起地毯燃烧，经过公安消防员的及时抢救，将现场的火灭掉，最后造成过火面积大约2平方米，没有造成人员伤亡。损失的财物有办公用品等。</p>
							        </div>
							        
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>火灾警情（消防大队）</h2>
							        	<p>2016-9-25  21:45:00，致电员村中队谢铭副中队长，其称已归队，3分钟到场，到场未处置。现场是共十层的民房（钢筋混泥土结构）负一层楼的电表着火，其建筑面积约150平方米，燃烧物为电表，燃烧面积约0.5平方米，无人员受伤，中队到场时，明火由当地人员用灭火器扑灭，中队了解情况后移交民警没事返回。</p>
							        </div>
							    </div>
						    </div>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script src="../js/mui.js"></script>
	<script src="../js/jquery-2.1.0.js"></script>
	<script src="../js/normal.js"></script>
</body>
</html>