<!DOCTYPE html>
<html>
<head th:with="title=${'执法'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">执法</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<h1><span th:text="${result.streetName}"></span>执法</h1>
							<a th:href="@{/app/punishment/toBasePage}" class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded" id="contentBox">
							<!-- 内容区域 -->
							<div class="mui-input-row mui-search searchBox">
								<input type="search" id="streetName" class="mui-input-clear input-search" placeholder="输入违法行为人名称、单位名称">
								<button onclick="searchName()" class="button-search">搜索</button>
							</div>
							<div class="listBox mt15">
								<ul class="groupList recordList" id="ulData">
									<li th:each="list,index:${result.list}">
										<h1><span th:text="${list.unitName}==''?'-':${list.unitName}"></span><a class="btn-detail pa" th:href="@{'/app/punishment/punish?id=' + ${list.id}(type=${result.type})}">查看详情<i class="mui-icon mui-icon-arrowright"></i></a></h1>
										<div class="mui-row">
											<div class="mui-col-xs-6">
									            <div class="tit fl">日期：</div>
									            <div class="oh" th:text="${list.time}"></div>
									        </div>
									        <div class="mui-col-xs-6">
									            <div class="tit fl">责任人：</div>
									            <div class="oh" th:text="${list.dutyPerson}"></div>
									        </div>
									    </div>
									</li>
								</ul>
								<div class="no-record tc" id="nosearch" style="display:none">
									<div class="no-record-main oh no-record-sm">
										<i class="mui-icon mui-icon-search fl"></i>
										<div class="fl">无搜索记录</div>
									</div>
								</div>
								<div class="no-record tc" id="norecord" style="display:none">
									<div class="no-record-main oh no-record-sm">
										<i class="mui-icon mui-icon-search fl"></i>
										<div class="fl">无记录</div>
									</div>
								</div>
							</div>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/jquery-2.1.0.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
	<script th:inline="javascript">
		mui.init();
	 	function searchName(){
			$('#ulData').text('');
			$('#norecord').css('display','none');
			mui.post([[@{/app/punishment/searchPunishment}]],{
	    		streetId: [[${result.streetId}]],
	    		type: [[${result.type}]],
	    		name: $('#streetName').val()
	    	},function(data){
	    		if(data){
	    			var list = data.list;
	    			if(list.length>0){
	    				$('#nosearch').css('display','none');
	    				for(var i=0;i<list.length;i++){
	    					var h1= '<h1><span>' + list[i].unitName + '</span><a class="btn-detail pa" href="' + [[@{/app/punishment/punish?id=}]] + list[i].id + '&type=' + data.type +'">查看详情<i class="mui-icon mui-icon-arrowright"></i></a></h1>';
	    					var li = '<li>' + h1 + '<div class="mui-row"><div class="mui-col-xs-8"><div class="tit fl">日期：</div><div class="oh">' + list[i].time + '</div></div><div class="mui-col-xs-4"><divclass="tit fl">' + list[i].type_change + '</div></div></div></li>';
	    					$('#ulData').append(li);
	    				}
	    			}else{
	    				$('#nosearch').css('display','block');
	    			}
	    		}
	    	});
			$('#streetName').blur();
		}
		
		function init(){
			console.log([[${result}]]);
			if([[${result.list}]].length <= 0){
				$('#norecord').css('display','block');
			}
		}
		init();
	</script>
</body>
</html>