<!DOCTYPE html>
<html>
<head th:with="title=${'执法'}" th:include="/layouts/layout::head">
</head>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--菜单部分-->
        <div th:replace="/layouts/layout::menu"></div>
        <div class="mui-inner-wrap">
            <!-- Header 部分 -->
            <header class="mui-bar mui-bar-nav">
				<div class="logo">
					<img th:src="@{/img/logo.png}" />
				</div>
				<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
				<h1 class="mui-title">执法</h1>
			</header>
            <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="filterBox">
                        <span id="hidePopover" class="fl btn-filter">天河区执法趋势 <i class="mui-icon mui-icon-arrowdown"></i></span>
                        <div th:replace="/layouts/layout::law-menu"></div>
                    </div>
                    <div class="mui-content-padded" id="bodyContent">
                        <!-- 内容区域 -->
                        <div class="chartBox mt20 mb20">
                            <div id="lowTendency" style="height: 225px;"></div>
                        </div>
                        <table class="table fireDataTable">
							<thead></thead>
							<tbody></tbody>
						</table>
                        <!-- 内容区域 end -->
                    </div>
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
    <script th:src="@{/js/mui.js}"></script>
    <script th:src="@{/js/normal.js}"></script>
    <script th:src="@{/js/jquery-2.1.0.js}"></script>
   	<script th:src="@{/js/echarts.min.js}"></script>
	<script th:src="@{/js/macarons.js}"></script>
	<script th:src="@{/common/echarts/eLine.js}"></script>
	<script th:inline="javascript">
		mui.init();
		var isTrend = false;
		var lists = [
		     	{name:'行政罚款',type:1},
		     	{name:'行政拘留',type:2},
		     	{name:'刑事拘留',type:3},
		     	{name:'临时查封',type:4},
		     	{name:'三停',type:5}
             ];
		mui.get([[@{/app/punishment/main}]], '', function(data) {
			if (data && data.length > 0) {
				console.log(data);
				var legend = [];
				var item = [];
				var datas = [];
				var unit = [];
				var tbodytr = '';
				var totalNum = [];
				var totalTh = '';
				unit = data[0].unit;
				for (var i = 0; i < data.length; i++) {
					legend.unshift(data[i].type);
					var da = [];
					for (var k = 0; k < data[i].data.length; k++) {
						da.unshift(data[i].data[k].value);
					}
					datas.unshift(da);
					totalNum[i] = 0;
				}
				for (var j = 0; j < data[0].data.length; j++) {
					item.unshift(data[0].data[j].month);
					var tr = '';
					for(var l=data.length-1;l>-1;l--){
						totalNum[data.length-1-l] += data[l].data[j].value;
						var type=0;
						for(var s=0;s<lists.length;s++){
							if(data[l].type == lists[s].name){
								type = lists[s].type;
								break;
							}
						}
						tr += '<td class="blueBg" id="' + data[0].data[j].month + '_' + type + '">' + data[l].data[j].value + '</td>';
					}
					tbodytr += '<tr><td class="greenBg">' + data[0].data[j].month + '</td>' + tr + '</tr>';
				}
				echartLine('lowTendency',legend,item,datas,unit);
				var th = '';
				for(var k=0;k<legend.length;k++){
					th += '<th class="blueBg">' + legend[k] + '</th>';
					totalTh += '<td class="blueBg fb">' + totalNum[k] + '</td>';
				}
				var theadtr = '<tr><th width="60" class="greenBg">年月</th>' + th + '</tr>';
				var totalStr = '<tr><td class="greenBg fb">合计</td>' + totalTh + '</tr>';
				$('table thead').text('');
				$('table tbody').text('');
				$('table thead').append(theadtr);
				$('table tbody').append(totalStr);
				$('table tbody').append(tbodytr);
				setClick(data);
			}
		}, 'json');
		//点击表格数据
		function setClick(data){
			for(var i=0;i<data.length;i++){
				for(var j=0;j<data[i].data.length;j++){
					$('#' + data[i].data[j].month + '_' + (i+1)).bind('tap',function(){
						var type = this.id.substr(this.id.indexOf('_')+1,this.id.length);
	    				var time = this.id.substr(0,this.id.indexOf('_'));
	    				console.log(type,time);
	    				mui.openWindow({
		    	    		url: [[@{/app/punishment/toRegionListPage?}]] + '&type=' + type + '&time=' + time
		                });
					});
				}
			}
		}
		$('#hidePopover').bind('tap',function(){
			hidePopover('trendPopover');
		});
		function hidePopover(popover){
			if(popover === 'trendPopover'){
				if(isTrend){
					$('#bodyContent').removeClass('content-backdrop');
					$('#trendPopover').hide();
					isTrend = false;
				}else{
					$('#bodyContent').addClass('content-backdrop');
					$('#trendPopover').show();
					isTrend = true;
				}
			}
		}
		$('#bodyContent').bind('tap',function(){
			isTrend = false;
			$('#bodyContent').removeClass('content-backdrop');
        	$(".popoverbox").hide();
        });
	</script>
</body>
</html>