<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>警情</title>
    <link href="../img/favicon.ico" rel="apple-touch-icon-precomposed">
	<link href="../img/favicon.ico" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="../css/base.css" rel="stylesheet"/>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../common/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-right">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="menu-title">菜单</div>
						<ul class="menu">
							<li><a href="../regionalProfile/regionalProfile.html"><i class="iconfont icon-region"></i>区域概况</a></li>
							<li><a href="../hiddenInvestigation/hiddenInvestigation.html"><i class="iconfont icon-hidden"></i>隐患排查</a></li>
							<li><a href="../alarm/alarm-tianHe.html"><i class="iconfont icon-warn"></i>警情</a></li>
							<li><a href="../lawEnforcement/lawEnforcement-tianHe.html"><i class="iconfont icon-police"></i>执法</a></li>
							<li><a href="../statisticalData/statisticalData.html"><i class="iconfont icon-bar-chart"></i>数据统计</a></li>
                            <li><a href="../keyUnit/keyUnit.html"><i class="iconfont icon-star"></i>重点单位信息</a></li>
						</ul>
					</div>
				</div>
			</aside>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img src="../img/logo.png" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">执法</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<h1>员村执法</h1>
							<a href="lawEnforcement-fire-list.html" class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded" id="contentBox">
							<!-- 内容区域 -->
							<div class="profileBox">
								<h1 class="profileTit">广州同创咖啡有限公司（高地朋友圈主题酒吧）</h1>
								<div class="mui-row ">
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>执法时间</h2>
							        	<p>2016年7月16日早上8时15分</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items mui-row">
							        	<div class="mui-col-xs-6">
							        		<h2>街道</h2>
							        		<p>街道</p>
								        </div>
							        	<div class="mui-col-xs-6">
								        	<h2>社区</h2>
							        		<p>广州大道</p>
								        </div>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>违法单位地址</h2>
							        	<p>广州市天河区临江大道东9号二楼</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items mui-row">
							        	<div class="mui-col-xs-6">
							        		<h2>处罚方式</h2>
								        	<p>行政罚款</p>
								        </div>
							        	<div class="mui-col-xs-6">
								        	<h2>建筑名称</h2>
							        		<p>XX大厦</p>
								        </div>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>行政处罚决定书文号</h2>
							        	<p>穗公天行罚决字[2016]09463号</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>现场情况</h2>
							        	<p>2016年12月5日10时30分，在广州市天河区临江大道东9号二楼广州同创咖啡有限公司（高地朋友圈主题酒吧）发生火灾。该单位涉嫌未履行法律、法规规定的消防安全责任，产生火灾事故，违反《中华人民共和国消防法》第十六条第一款第一项有关规定。</p>
							        </div>
							    </div>
							    <div class="spaceline10"></div>
							    <div class="mui-row ">
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>处罚证据</h2>
							        	<p>违法人员的陈述；证人证言；书证；</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>行政处罚依据</h2>
							        	<p>《消防法》第五十八条第一款第五项</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>发布决定书时间</h2>
							        	<p>二〇一六年七月八日</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items mui-row">
							        	<div class="mui-col-xs-6">
							        		<h2>处罚金额</h2>
								        	<p>5000元</p>
								        </div>
							        	<div class="mui-col-xs-6">
								        	<h2>责任人</h2>
							        		<p>张日天</p>
								        </div>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>责任人身份证号</h2>
							        	<p>440514199407281317</p>
							        </div>
							    </div>
							    <div class="spaceline10"></div>
							    <div class="mui-row ">
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>查封决定书文号</h2>
							        	<p>穗公天消封字[2016]xxxx号</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>查封部位</h2>
							        	<p>二楼厨房</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>查封依据</h2>
							        	<p>xxxx法第xx款xx条xx项</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>查封开始时间</h2>
							        	<p>2016年08月11日16时30分</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>查封结束时间</h2>
							        	<p>2016年08月11日16时30分</p>
							        </div>
							    </div>
							    <div class="spaceline10"></div>
							    <div class="mui-row ">
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>解除查封决定书文号</h2>
							        	<p>穗公天消解字[2016]xxxx号</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>解除依据</h2>
							        	<p>《消防法》第五十八条第一款第五项</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>解除时间</h2>
							        	<p>2016年8月11日16时30分</p>
							        </div>
							    </div>
							    <div class="spaceline10"></div>
							    <div class="mui-row ">
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>临时进入决定书文号</h2>
							        	<p>穗公天消临字[2016]xxxx号</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>临时进入时间开始</h2>
							        	<p>2016年8月11日16时30分</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>临时进入时间结束</h2>
							        	<p>2016年8月11日16时30分</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>临时进入依据</h2>
							        	<p>《消防法》第五十八条第一款第五项</p>
							        </div>
							    </div>
							    <div class="spaceline10"></div>
							    <div class="mui-row ">
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>处罚说明</h2>
							        	<p>情况属实，罚款及拘留</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>执法人名称</h2>
							        	<p>广州市公安局天河区分局</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>复议单位</h2>
							        	<p>广州市公安局天河区分局或天河区人民法院</p>
							        </div>
							        <div class="mui-col-xs-12 profile-items">
							        	<h2>提起诉讼单位</h2>
							        	<p>铁路运输第一法院</p>
							        </div>
							    </div>
						    </div>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script src="../js/mui.js"></script>
	<script src="../js/jquery-2.1.0.js"></script>
	<script src="../js/normal.js"></script>
</body>
</html>