<!DOCTYPE html>
<html>
<head th:with="title=${'执法'}" th:include="/layouts/layout::head">
</head>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--菜单部分-->
        <div th:replace="/layouts/layout::menu"></div>
        <div class="mui-inner-wrap">
            <!-- Header 部分 -->
            <div th:with="headTitle=${'执法'}"></div>
            <div th:replace="/layouts/layout::menu"></div>
            <div id="offCanvasContentScroll"
                class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="filterBox">
                        <button onclick="hide('trendPopover')"
                            class="fl btn-filter">
                            天河区执法趋势 <i
                                class="mui-icon mui-icon-arrowdown"></i>
                        </button>
                        <div id="trendPopover" style="display: none"
                            class="popoverbox">
                            <ul class="mui-table-view">
                                <li class="mui-table-view-cell"><a
                                    href="lawEnforcement-tianHe.html">天河区执法趋势</a></li>
                                <li class="mui-table-view-cell"><a
                                    href="lawEnforcement-region.html">区域执法趋势</a></li>
                                <li class="mui-table-view-cell"><a
                                    href="lawEnforcement-fire.html">火灾执法基本数据</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mui-content-padded">
                        <!-- 内容区域 -->
                        <div class="chartBox mt20 mb20">
                            <img src="../custom/upload/chart1.png"
                                width="100%" />
                        </div>
                        <!-- 内容区域 end -->
                    </div>
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
    <script src="../js/mui.js"></script>
    <script src="../js/normal.js"></script>
</body>
</html>