<!DOCTYPE html>
<html>
<head th:with="title=${'项目概况表'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">重点单位信息</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<h1>沙河小学</h1>
							<a href="keyUnit.html" class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded" id="contentBox">
							<!-- 内容区域 -->
							<ul class="menu detail-menu">
								<li><a href="buildingProfile.html">建筑物概况表</a></li>
								<li><a href="javascript:;">建筑物主要使用功能表</a></li>
								<li><a href="javascript:;">物业管理单位概况表</a></li>
								<li><a href="javascript:;">消防重点部位概况表</a></li>
								<li><a href="javascript:;">主要消防系统概况表</a></li>
							</ul>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/jquery-2.1.0.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
	<script th:inline="javascript">
		mui.init();
		function init(){
			mui.get([[@{}]],'',function(){
				if(data){//没有概况表数据
					
				}else{//遍历表
					
				}
			});
		}
		init();
		
	</script>
</body>
</html>