<!DOCTYPE html>
<html>
<head th:with="title=${'重点单位信息'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">重点单位信息</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-content-padded" id="contentBox">
							<!-- 内容区域 -->
							<a th:href="@{/app/keyUnit/unit?id=1327}">点击跳转</a>
							<div class="mui-input-row mui-search searchBox">
								<input type="search" id="keyUnit" class="mui-input-clear input-search" placeholder="输入重点单位名称">
								<button type="button" onclick="getSearch()" class="button-search">搜索</button>
							</div>
							<!-- 搜索记录 -->
							<div class="recordBox" id="searchBox" style="display:none">
								<ul class="groupList recordList"></ul>
							</div>
							<!-- 搜索记录end -->
							<!-- 无记录 -->
							<div class="no-record tc" id="getNone" style="display:none">
								<div class="no-record-main oh">
									<i class="mui-icon mui-icon-search fl"></i>
									<div class="fl">
										<h1>无搜索记录</h1>
										<p>请输入关键字查看重点单位信息</p>
									</div>
								</div>
							</div>
							<!-- 无记录end -->
							
							<!-- 有记录 -->
							<div class="recordBox" id="recordBox" style="display:none">
								<h2>最近浏览记录</h2>
								<ul class="groupList recordList">
									<li>
										<h1>沙河小学<a class="btn-detail pa" href="detail-menu.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a></h1>
										<div class="mui-row">
											<div class="mui-col-xs-6">
									            <div class="tit fl">街道：</div>
									            <div class="oh">员村</div>
									        </div>
									        <div class="mui-col-xs-6">
									            <div class="tit fl">安全隐患等级：</div>
									            <div class="oh fb num">
									            	<i class="iconfont icon-circle level1"><em>1</em></i>
									            </div>
									        </div>
									        <div class="mui-col-xs-6">
									            <div class="tit fl">使用性质：</div>
									            <div class="oh">商业用地</div>
									        </div>
									        <div class="mui-col-xs-6">
									            <div class="tit fl">建筑类别：</div>
									            <div class="oh">超高层</div>
									        </div>
									    </div>
									</li>
								</ul>
							</div>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/jquery-2.1.0.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
	<script th:inline="javascript">
		mui.init();
		//获取历史浏览记录
		function getHistory(){
			mui.get([[@{/app/keyUnit/recent}]],'',function(data){
				if(data){//首次进入没有浏览记录
					$('#getNone').css('display','block');
				}else{//展现浏览记录
					$('#recordBox').css('display','block');
					for(var i=0;i<data.length;i++){
						var liStr = '<li><h1>沙河小学<a class="btn-detail pa" href="detail-menu.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a></h1>';
						liStr += '<div class="mui-row"><div class="mui-col-xs-6"><div class="tit fl">街道：</div><div class="oh">员村</div></div>';
						liStr += '<div class="mui-col-xs-6"><div class="tit fl">安全隐患等级：</div><div class="oh fb num"><i class="iconfont icon-circle level1"><em>1</em></i></div></div>';
						liStr += '<div class="mui-col-xs-6"><div class="tit fl">使用性质：</div><div class="oh">商业用地</div></div><div class="mui-col-xs-6">';
						liStr += '<div class="tit fl">建筑类别：</div><div class="oh">超高层</div></div></div></li>';
				            
					}
				}
			});
		}
		//点击搜索按钮
		function getSearch(){
			$('#searchBox ul').text('');
			$('#recordBox').css('display','none');
			mui.post([[@{/app/keyUnit/search}]],{
				name: search
			},function(data){
				if(data){//无搜索记录
					$('#getNone').css('display','block');
				}else{//搜索数据
					$('#getNone').css('display','none');
					$('#searchBox').css('display','block');
					
				}
				$('#keyUnit').blur();
			});
		}
		function init(){
			getHistory();
		}
		init();
	</script>
</body>
</html>