<!DOCTYPE html>
<html>
<head th:with="title=${'隐患统计'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">隐患排查</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-content-padded">
							<!-- 内容区域 -->
							<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-red mt10">
								<a class="mui-control-item mui-active" name="item1" href="#">隐患等级</a>
								<a class="mui-control-item" name="item2" href="#">隐患排查项目</a>
							</div>
							<div class="hiddenBox mt15">
								<div id="item1" class="mui-control-content mui-active">
									<div class="listLevel mb10 mt10">
										<div class="levelTit fl mr10">隐患等级</div>
										<div class="mui-content oh tc">
										    <div class="mui-row">
										        <div class="mui-col-xs-3">
										        		<i class="iconfont icon-circle mr5 level1"></i>1级
										        </div>
										        <div class="mui-col-xs-3">
										        		<i class="iconfont icon-circle mr5 level2"></i>2级
										        </div>
										        <div class="mui-col-xs-3">
										        		<i class="iconfont icon-circle mr5 level3"></i>3级
										        </div>
										        <div class="mui-col-xs-3">
										        		<i class="iconfont icon-circle mr5 level4"></i>4级
										        </div>
										    </div>
										</div>
									</div>
									<ul class="groupList" id="hiddenGrade"></ul>
								</div>
								<div id="item2" class="mui-control-content">
									<div class="listLevel mb10 mt10">
										<div class="mui-content tc">
										    <div class="mui-row">
										        <div class="mui-col-xs-4">
										        	<i class="iconfont icon-circle mr5 font-green"></i>合格数
										        </div>
										        <div class="mui-col-xs-4">
										        	<i class="iconfont icon-circle mr5 font-red"></i>不合格数
										        </div>
										        <div class="mui-col-xs-4">
										        	<i class="iconfont icon-circle mr5 font-blue"></i>合格率
										        </div>
										    </div>
										</div>
									</div>
									<ul class="groupList hiddenList" id="itemHidden"></ul>
								</div>
							</div>
							
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
	<script th:src="@{/js/jquery-2.1.0.js}"></script>
	<script th:inline="javascript">
		mui.init();
		function getHidGrade(){
			mui.get([[@{/app/hiddInvest/hidGrade}]],'',function(data){
	    		if(data){
	    			console.log(data);
	    			$('#hiddenGrade').text('');
	    			for(var i=0;i<data.length;i++){
	    				var str = '';
	    				var str1 = '<div class="mui-col-xs-3"><i class="iconfont icon-circle mr5 level1"></i>' + data[i].versionOne + '</div>';
	    				var str2 = '<div class="mui-col-xs-3"><i class="iconfont icon-circle mr5 level2"></i>' + data[i].versionTwo + '</div>';
	    				var str3 = '<div class="mui-col-xs-3"><i class="iconfont icon-circle mr5 level3"></i>' + data[i].versionThree + '</div>';
	    				var str4 = '<div class="mui-col-xs-3"><i class="iconfont icon-circle mr5 level4"></i>' + data[i].versionFour + '</div>';
	    				var firstLine = '<div class="type-item"><div class="tit fl">重点单位</div><div class="oh"><b class="font-red">' + data[i].checkInfoNum + '</b><button onclick="hrefDetail(' + (data[i].streetId + '') + ')" class="btn-detail fr"}">查看详情<i class="mui-icon mui-icon-arrowright"></i></button></div></div>';
	    				var secondLine = '<div class="type-item"><div class="tit fl">隐患等级</div><div class="oh"><div class="mui-row">' + str1 + str2 + str3 + str4 + '</div></div></div>';
	    				str = '<li><div class="group-item"><div class="streetName fl mr10">' + data[i].streetName +'</div><div class="oh">' + firstLine + secondLine + '</div></div></li>';
	    				$('#hiddenGrade').append(str);
	    			}
	    			getInvestigate();
	    		}else{
	    			getInvestigate();
	    		}
	    	});
		}
		function getInvestigate(){
			mui.get([[@{/app/hiddInvest/investigate}]],'',function(data){
	    		if(data){
	    			console.log(data);
	    			$('#itemHidden').text('');
	    			for(var i=0;i<data.length;i++){
	    				var str = '';
	    				var qualifiedStr = '<div class="mui-col-xs-4"><i class="iconfont icon-circle mr15 font-green"></i>' + data[i].qualifiedNum + '</div>';
	    				var unqualifiedStr = '<div class="mui-col-xs-4"><i class="iconfont icon-circle mr15 font-red"></i>' + data[i].unqualifiedNum + '</div>';
	    				var qualifiedPercentStr = '<div class="mui-col-xs-4"><i class="iconfont icon-circle mr15 font-blue"></i>' + ((data[i].qualifiedPercent*100).toFixed(2) + '%') + '</div>';
	    				str = '<li><h1>' + (data[i].itemName == 'null'?'&nbsp;':data[i].itemName) + '</h1><div class="mui-row">' + qualifiedStr + unqualifiedStr + qualifiedPercentStr + '</div></li>';
	    				$('#itemHidden').append(str);
	    			}
	    		}
	    	});
		}
		function hrefDetail (id){
			mui.openWindow({
                url : [[@{/app/hiddInvest/detail?streetId=}]] + id,
            });
		}
		function init(){
			getHidGrade();
		}
		init();
		
		//控制不让点当前表格对应的标题
	    var occurTitle='';
	    var compareTitle = '隐患等级';
	    $('#segmentedControl a').bind('tap',function(){
	    	occurTitle = this.innerHTML;
	    	if(occurTitle ==  compareTitle){
	    		return;
	    	}else{
    			$('.mui-control-content').removeClass('mui-active');
	    		$('#' + this.name).addClass('mui-active');
	    		compareTitle = occurTitle;
	    	}
	    })
	</script>
</body>
</html>