<!DOCTYPE html>
<html>
<head th:with="title=${'隐患统计'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">隐患统计</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-content-padded">
							<!-- 内容区域 -->
							<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-red mt10">
								<a class="mui-control-item mui-active" href="#item1">隐患等级</a>
								<a class="mui-control-item" href="#item2">隐患排查项目</a>
							</div>
							<div class="hiddenBox mt15">
								<div id="item1" class="mui-control-content mui-active">
									<div class="listLevel mb10 mt10">
										<div class="levelTit fl mr10">隐患等级</div>
										<div class="mui-content oh tc">
										    <div class="mui-row">
										        <div class="mui-col-xs-3">
										        		<i class="iconfont icon-circle mr5 font-red"></i>1级
										        </div>
										        <div class="mui-col-xs-3">
										        		<i class="iconfont icon-circle mr5 font-orange"></i>2级
										        </div>
										        <div class="mui-col-xs-3">
										        		<i class="iconfont icon-circle mr5 font-yellow"></i>3级
										        </div>
										        <div class="mui-col-xs-3">
										        		<i class="iconfont icon-circle mr5 font-blackishGreen"></i>4级
										        </div>
										    </div>
										</div>
									</div>
									<ul class="groupList">
										<li>
											<div class="group-item">
												<div class="streetName fl mr10">员村</div>
											    <div class="oh">
										        	<div class="type-item">
										        		<div class="tit fl">重点单位</div>
										        		<div class="oh">
										        			<b class="font-red">30</b>
										        			<a class="btn-detail fr" href="securityDetail.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
										        		</div>
										        	</div>
										        	<div class="type-item">
										        		<div class="tit fl">隐患等级</div>
										        		<div class="oh">
										        			<div class="mui-row">
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-red"></i>13
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-orange"></i>25
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-yellow"></i>7
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-blackishGreen"></i>18
														        </div>
														    </div>
										        		</div>
										        	</div>
											    </div>
										    </div>
										</li>
										<li>
											<div class="group-item">
												<div class="streetName fl mr10">员村</div>
											    <div class="oh">
										        	<div class="type-item">
										        		<div class="tit fl">重点单位</div>
										        		<div class="oh">
										        			<b class="font-red">30</b>
										        			<a class="btn-detail fr" href="securityDetail.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
										        		</div>
										        	</div>
										        	<div class="type-item">
										        		<div class="tit fl">隐患等级</div>
										        		<div class="oh">
										        			<div class="mui-row">
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-red"></i>13
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-orange"></i>25
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-yellow"></i>7
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-blackishGreen"></i>18
														        </div>
														    </div>
										        		</div>
										        	</div>
											    </div>
										    </div>
										</li>
										<li>
											<div class="group-item">
												<div class="streetName fl mr10">员村</div>
											    <div class="oh">
										        	<div class="type-item">
										        		<div class="tit fl">重点单位</div>
										        		<div class="oh">
										        			<b class="font-red">30</b>
										        			<a class="btn-detail fr" href="securityDetail.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
										        		</div>
										        	</div>
										        	<div class="type-item">
										        		<div class="tit fl">隐患等级</div>
										        		<div class="oh">
										        			<div class="mui-row">
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-red"></i>13
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-orange"></i>25
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-yellow"></i>7
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-blackishGreen"></i>18
														        </div>
														    </div>
										        		</div>
										        	</div>
											    </div>
										    </div>
										</li>
										<li>
											<div class="group-item">
												<div class="streetName fl mr10">员村</div>
											    <div class="oh">
										        	<div class="type-item">
										        		<div class="tit fl">重点单位</div>
										        		<div class="oh">
										        			<b class="font-red">30</b>
										        			<a class="btn-detail fr" href="securityDetail.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
										        		</div>
										        	</div>
										        	<div class="type-item">
										        		<div class="tit fl">隐患等级</div>
										        		<div class="oh">
										        			<div class="mui-row">
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-red"></i>13
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-orange"></i>25
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-yellow"></i>7
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-blackishGreen"></i>18
														        </div>
														    </div>
										        		</div>
										        	</div>
											    </div>
										    </div>
										</li>
										<li>
											<div class="group-item">
												<div class="streetName fl mr10">员村</div>
											    <div class="oh">
										        	<div class="type-item">
										        		<div class="tit fl">重点单位</div>
										        		<div class="oh">
										        			<b class="font-red">30</b>
										        			<a class="btn-detail fr" href="securityDetail.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
										        		</div>
										        	</div>
										        	<div class="type-item">
										        		<div class="tit fl">隐患等级</div>
										        		<div class="oh">
										        			<div class="mui-row">
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-red"></i>13
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-orange"></i>25
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-yellow"></i>7
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-blackishGreen"></i>18
														        </div>
														    </div>
										        		</div>
										        	</div>
											    </div>
										    </div>
										</li>
										<li>
											<div class="group-item">
												<div class="streetName fl mr10">员村</div>
											    <div class="oh">
										        	<div class="type-item">
										        		<div class="tit fl">重点单位</div>
										        		<div class="oh">
										        			<b class="font-red">30</b>
										        			<a class="btn-detail fr" href="securityDetail.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
										        		</div>
										        	</div>
										        	<div class="type-item">
										        		<div class="tit fl">隐患等级</div>
										        		<div class="oh">
										        			<div class="mui-row">
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-red"></i>13
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-orange"></i>25
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-yellow"></i>7
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-blackishGreen"></i>18
														        </div>
														    </div>
										        		</div>
										        	</div>
											    </div>
										    </div>
										</li>
										<li>
											<div class="group-item">
												<div class="streetName fl mr10">员村</div>
											    <div class="oh">
										        	<div class="type-item">
										        		<div class="tit fl">重点单位</div>
										        		<div class="oh">
										        			<b class="font-red">30</b>
										        			<a class="btn-detail fr" href="securityDetail.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
										        		</div>
										        	</div>
										        	<div class="type-item">
										        		<div class="tit fl">隐患等级</div>
										        		<div class="oh">
										        			<div class="mui-row">
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-red"></i>13
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-orange"></i>25
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-yellow"></i>7
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-blackishGreen"></i>18
														        </div>
														    </div>
										        		</div>
										        	</div>
											    </div>
										    </div>
										</li>
										<li>
											<div class="group-item">
												<div class="streetName fl mr10">员村</div>
											    <div class="oh">
										        	<div class="type-item">
										        		<div class="tit fl">重点单位</div>
										        		<div class="oh">
										        			<b class="font-red">30</b>
										        			<a class="btn-detail fr" href="securityDetail.html">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
										        		</div>
										        	</div>
										        	<div class="type-item">
										        		<div class="tit fl">隐患等级</div>
										        		<div class="oh">
										        			<div class="mui-row">
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-red"></i>13
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-orange"></i>25
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-yellow"></i>7
														        </div>
														        <div class="mui-col-xs-3">
														        	<i class="iconfont icon-circle mr5 font-blackishGreen"></i>18
														        </div>
														    </div>
										        		</div>
										        	</div>
											    </div>
										    </div>
										</li>
									</ul>
								</div>
								<div id="item2" class="mui-control-content">
									<div class="listLevel mb10 mt10">
										<div class="mui-content tc">
										    <div class="mui-row">
										        <div class="mui-col-xs-4">
										        	<i class="iconfont icon-circle mr5 font-green"></i>合格数
										        </div>
										        <div class="mui-col-xs-4">
										        	<i class="iconfont icon-circle mr5 font-red"></i>不合格数
										        </div>
										        <div class="mui-col-xs-4">
										        	<i class="iconfont icon-circle mr5 font-blue"></i>合格率
										        </div>
										    </div>
										</div>
									</div>
									<ul class="groupList hiddenList">
										<li>
											<h1>检查项目检查项目检查项目检查项目</h1>
											<div class="mui-row tc">
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-green"></i>101
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-red"></i>23
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-blue"></i>83%
										        </div>
										    </div>
										</li>
										<li>
											<h1>检查项目检查项目检查项目检查项目检查项目检查项目检查项目检查项目</h1>
											<div class="mui-row tc">
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-green"></i>101
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-red"></i>23
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-blue"></i>83%
										        </div>
										    </div>
										</li>
										<li>
											<h1>检查项目检查项目检查项目检查项目</h1>
											<div class="mui-row tc">
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-green"></i>101
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-red"></i>23
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-blue"></i>83%
										        </div>
										    </div>
										</li>
										<li>
											<h1>检查项目检查项目检查项目检查项目</h1>
											<div class="mui-row tc">
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-green"></i>101
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-red"></i>23
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-blue"></i>83%
										        </div>
										    </div>
										</li>
										<li>
											<h1>检查项目检查项目检查项目检查项目</h1>
											<div class="mui-row tc">
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-green"></i>101
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-red"></i>23
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-blue"></i>83%
										        </div>
										    </div>
										</li>
										<li>
											<h1>检查项目检查项目检查项目检查项目</h1>
											<div class="mui-row tc">
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-green"></i>101
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-red"></i>23
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-blue"></i>83%
										        </div>
										    </div>
										</li>
										<li>
											<h1>检查项目检查项目检查项目检查项目</h1>
											<div class="mui-row tc">
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-green"></i>101
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-red"></i>23
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-blue"></i>83%
										        </div>
										    </div>
										</li>
										<li>
											<h1>检查项目检查项目检查项目检查项目</h1>
											<div class="mui-row tc">
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-green"></i>101
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-red"></i>23
										        </div>
										        <div class="mui-col-xs-4">
										            <i class="iconfont icon-circle mr15 font-blue"></i>83%
										        </div>
										    </div>
										</li>
									</ul>
								</div>
							</div>
							
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
</body>
</html>