<!DOCTYPE html>
<html>
<head th:with="title=${'隐患排查'}" th:include="/layouts/layout::head">
</head>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--菜单部分-->
        <div th:replace="/layouts/layout::menu"></div>
        <div class="mui-inner-wrap">
            <!-- Header 部分 -->
            <div th:with="headTitle=${'隐患排查项目统计'}"></div>
            <div th:replace="/layouts/layout::menu"></div>
            <div id="offCanvasContentScroll"
                class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="mui-content-padded">
                        <!-- 内容区域 -->
                        <div class="listLevel mb10 mt10">
                            <div class="mui-content tc">
                                <div class="mui-row">
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr5 font-green"></i>合格数
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr5 font-red"></i>不合格数
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr5 font-blue"></i>合格率
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="groupList hiddenList">
                            <li>
                                <h1>检查项目检查项目检查项目检查项目</h1>
                                <div class="mui-row tc">
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-green"></i>101
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-red"></i>23
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-blue"></i>83%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目检查项目检查项目检查项目检查项目检查项目</h1>
                                <div class="mui-row tc">
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-green"></i>101
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-red"></i>23
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-blue"></i>83%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目检查项目</h1>
                                <div class="mui-row tc">
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-green"></i>101
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-red"></i>23
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-blue"></i>83%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目检查项目</h1>
                                <div class="mui-row tc">
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-green"></i>101
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-red"></i>23
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-blue"></i>83%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目检查项目</h1>
                                <div class="mui-row tc">
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-green"></i>101
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-red"></i>23
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-blue"></i>83%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目检查项目</h1>
                                <div class="mui-row tc">
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-green"></i>101
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-red"></i>23
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-blue"></i>83%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目检查项目</h1>
                                <div class="mui-row tc">
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-green"></i>101
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-red"></i>23
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-blue"></i>83%
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目检查项目</h1>
                                <div class="mui-row tc">
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-green"></i>101
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-red"></i>23
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <i
                                            class="iconfont icon-circle mr15 font-blue"></i>83%
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- 内容区域 end -->
                    </div>
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
    <script th:src="@{/js/mui.js}"></script>
    <script tj:src="@{/js/normal.js}"></script>
</body>
</html>