<!DOCTYPE html>
<html>
<head th:with="title=${'凤凰街区消防安全详情'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">区域概况</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<h1>凤凰街区消防安全详情</h1>
							<a th:href="@{/app/hiddInvest}" class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded">
							<!-- 内容区域 -->
							<ul class="groupList" id="hiddenDetail">
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-6">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 level1"><em>1</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-6">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-6">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 level2"><em>2</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-6">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								    </div>
								</li>
							</ul>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
	<script th:src="@{/js/jquery-2.1.0.js}"></script>
	<script th:inline="javascript">
		mui.init();
		function getDetail(streetId){
			mui.post([[@{/app/hiddInvest/getDetail}]],{
				streetId: streetId
			},function(data){
	    		if(data){
	    			console.log(data);
	    			$('#hiddenDetail').text('');
	    			for(var i=0;i<data.length;i++){
	    				var str = '';
	    				if(data[i].riskLevel === null){
	    					data[i].riskLevel = '1';
	    				}
	    				var levelStr = '<div class="mui-col-xs-6"><div class="tit fl">安全隐患等级</div><div class="oh fb num"><i class="iconfont icon-circle mr5 level' + data[i].riskLevel + '"><em>' + data[i].riskLevel + '</em></i></div></div>';
	    				var unqStr = '<div class="mui-col-xs-6"> <div class="tit fl">不合格项目</div><div class="oh fb num font-red">' + data[i].unqualifiedNum + '</div></div>';
	    				str = '<li><h1>' + data[i].ropertyCompanyName + '</h1><div class="mui-row">' + levelStr + unqStr + '</div></li>';
	    				$('#hiddenDetail').append(str);
	    			}
	    		}
	    	});
		}
		function getParam(paramName) {
		    paramValue = "";
		    isFound = false;
		    if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) {
		        arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&");
		        i = 0;
		        while (i < arrSource.length && !isFound) {
		            if (arrSource[i].indexOf("=") > 0) {
		                if (arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase()) {
		                    paramValue = arrSource[i].split("=")[1];
		                    isFound = true;
		                }
		            }
		            i++;
		        }
		    }
		    return paramValue;
		}
		function init(){
			var streetId = getParam('streetId');
			getDetail(streetId);
		}
		init();
	</script>
</body>
</html>