<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>凤凰街区消防安全详情</title>
    <link href="../css/base.css" rel="stylesheet"/>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../common/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-right">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="menu-title">菜单</div>
						<ul class="menu">
							<li><a href="../regionalProfile/regionalProfile.html"><i class="iconfont icon-region"></i>区域概况</a></li>
							<li><a href="../hiddenInvestigation/hiddenInvestigation.html"><i class="iconfont icon-hidden"></i>隐患统计</a></li>
							<li><a href="../alarm/alarm-tianHe.html"><i class="iconfont icon-warn"></i>警情</a></li>
							<li><a href="../lawEnforcement/lawEnforcement-tianHe.html"><i class="iconfont icon-police"></i>执法</a></li>
							<li><a href="../statisticalData/statisticalData.html"><i class="iconfont icon-bar-chart"></i>统计数据展示</a></li>
						</ul>
					</div>
				</div>
			</aside>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img src="../img/logo.png" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">区域概况</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<h1>凤凰街区消防安全详情</h1>
							<a href="hiddenInvestigation.html" class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded">
							<!-- 内容区域 -->
							<ul class="groupList">
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-red"><em>1</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-orange"><em>2</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-yellow"><em>3</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-blackishGreen"><em>4</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-red"><em>1</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-orange"><em>2</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-yellow"><em>3</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-blackishGreen"><em>4</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-red"><em>1</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-orange"><em>2</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-yellow"><em>3</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
								<li>
									<h1>检查项目检查项目检查项目</h1>
									<div class="mui-row">
								        <div class="mui-col-xs-5">
								            <div class="tit fl">安全隐患等级</div>
								            <div class="oh fb num">
								            	<i class="iconfont icon-circle mr5 font-blackishGreen"><em>4</em></i>
								            </div>
								        </div>
								        <div class="mui-col-xs-4">
								            <div class="tit fl">不合格项目</div>
								            <div class="oh fb num font-red">23</div>
								        </div>
								        <div class="mui-col-xs-3 tr">
								            <a class="btn-detail" href="javascript:;">查看详情<i class="mui-icon mui-icon-arrowright"></i></a>
								        </div>
								    </div>
								</li>
							</ul>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script src="../js/mui.js"></script>
	<script src="../js/normal.js"></script>
</body>
</html>