<!DOCTYPE html>
<html>
<head th:with="title=${'出错'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
		<!--菜单部分-->
		<div th:replace="/layouts/layout::menu"></div>
		<div class="mui-inner-wrap">
			<!-- Header 部分 -->
			<header class="mui-bar mui-bar-nav">
				<div class="logo">
					<img th:src="@{/img/logo.png}" />
				</div>
				<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
				<h1 class="mui-title"></h1>
			</header>
			<div id="offCanvasContentScroll"
				class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="mui-content-padded" style="height: 100%;align:center;text-align:center" id="bodyContent">
						<!-- 内容区域 -->
						<img th:src="@{/img/500.png}"  style="width:25%;margin:100px 35% 20px 35%"/>
						<p style="align:center;font-size: 20px;font-weight: bold;" >您访问的网页有误，请联系相关人员！</p>
						<!-- 内容区域 end -->
					</div>
				</div>
			</div>
			<!-- off-canvas backdrop -->
			<div class="mui-off-canvas-backdrop"></div>
		</div>
	</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		mui.init();
		/*]]>*/
	</script>
</body>
</html>