<!DOCTYPE html>
<html>
<head th:with="title=${'2016年1-12月天河区火灾警情基本数据'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">统计数据展示</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<a th:href="@{/app/statistical}" class="fl btn-filter" ><i class="mui-icon mui-icon-arrowleft"></i>返回</a>
						</div>
						<div class="mui-content-padded">
							<!-- 内容区域 -->
							<div class="timeBox tc fb font-red">2016年1-12月天河区火灾警情基本数据</div>
							<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-red mt10">
								<a class="mui-control-item mui-active" href="#item1">原始火灾</a>
								<a class="mui-control-item" href="#item2">确认火灾</a>
								<a class="mui-control-item" href="#item3">冒烟类原始火灾</a>
							</div>
							<div class="tableBox mt10">
								<div id="item1" class="mui-control-content mui-active">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="3">排序</th>
												<th width="60" class="greenBg" rowspan="3">街道</th>
												<th class="blueBg" colspan="2">原始火灾警情</th>
											</tr>
											<tr>
												<th class="blueBg" colspan="2">1-12月累计</th>
											</tr>
											<tr>
												<th class="blueBg light">2016年</th>
												<th class="blueBg light">2015年</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">62</td>
												<td class="blueBg">32</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">48</td>
												<td class="blueBg">24</td>
											</tr>
											<tr>
												<td class="grayBg">3</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">44</td>
												<td class="blueBg">78</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">40</td>
												<td class="blueBg">54</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">36</td>
												<td class="blueBg">50</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">32</td>
												<td class="blueBg">23</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">24</td>
												<td class="blueBg">32</td>
											</tr>
											<tr>
												<td class="grayBg">8</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">24</td>
												<td class="blueBg">10</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">19</td>
												<td class="blueBg">18</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">16</td>
												<td class="blueBg">19</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">16</td>
												<td class="blueBg">7</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">15</td>
												<td class="blueBg">24</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">12</td>
												<td class="blueBg">10</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">11</td>
												<td class="blueBg">9</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">11</td>
												<td class="blueBg">13</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">11</td>
												<td class="blueBg">7</td>
											</tr>
											<tr>
												<td class="grayBg">17</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">8</td>
												<td class="blueBg">3</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">7</td>
												<td class="blueBg">6</td>
											</tr>
											<tr>
												<td class="grayBg">19</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">5</td>
												<td class="blueBg">13</td>
											</tr>
											<tr>
												<td class="grayBg">20</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">3</td>
												<td class="blueBg">10</td>
											</tr>
											<tr>
												<td class="grayBg">21</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">2</td>
												<td class="blueBg">11</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">446</td>
												<td class="blueBg fb">453</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="item2" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="3">排序</th>
												<th width="60" class="greenBg" rowspan="3">街道</th>
												<th class="blueBg" colspan="2">确认火灾警情</th>
											</tr>
											<tr>
												<th class="blueBg" colspan="2">1-12月累计</th>
											</tr>
											<tr>
												<th class="blueBg light">2016年</th>
												<th class="blueBg light">2015年</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">2</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">3</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">2</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">2</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">1</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">2</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">8</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">2</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">5</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">2</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">2</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">2</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">17</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">3</td>
												<td class="blueBg">4</td>
											</tr>
											<tr>
												<td class="grayBg">19</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">20</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">21</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">26</td>
												<td class="blueBg fb">19</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="item3" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="3">排序</th>
												<th width="60" class="greenBg" rowspan="3">街道</th>
												<th class="blueBg" colspan="2">冒烟类原始火灾警情</th>
											</tr>
											<tr>
												<th class="blueBg" colspan="2">1-12月累计</th>
											</tr>
											<tr>
												<th class="blueBg light">2016年</th>
												<th class="blueBg light">2015年</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">29</td>
												<td class="blueBg">24</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">10</td>
												<td class="blueBg">11</td>
											</tr>
											<tr>
												<td class="grayBg">3</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">23</td>
												<td class="blueBg">52</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">17</td>
												<td class="blueBg">36</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">21</td>
												<td class="blueBg">36</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">14</td>
												<td class="blueBg">15</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">9</td>
												<td class="blueBg">17</td>
											</tr>
											<tr>
												<td class="grayBg">8</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">12</td>
												<td class="blueBg">8</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">7</td>
												<td class="blueBg">13</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">11</td>
												<td class="blueBg">14</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">5</td>
												<td class="blueBg">4</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">10</td>
												<td class="blueBg">11</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">6</td>
												<td class="blueBg">4</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">5</td>
												<td class="blueBg">5</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">4</td>
												<td class="blueBg">8</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">5</td>
												<td class="blueBg">4</td>
											</tr>
											<tr>
												<td class="grayBg">17</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">3</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">2</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">19</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">1</td>
												<td class="blueBg">11</td>
											</tr>
											<tr>
												<td class="grayBg">20</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">2</td>
												<td class="blueBg">4</td>
											</tr>
											<tr>
												<td class="grayBg">21</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">1</td>
												<td class="blueBg">8</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">197</td>
												<td class="blueBg fb">289</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="remarkBox mt10">
								<div class="tit fl">备注：</div>
								<ul class="remarkContent oh">
									<li class="iconfont icon-triangle" style="padding-left:0px;text-indent:2em;">1-12月份，我区在全国火灾统计管理系统累计527起原始火灾警情，超期录入65起，不属于天河区行政管辖的4起；重复录入12起；我区实际接原始火灾警情446起，同比下降1.55%（同期453起）；确认火灾警情26起， 同比上升36.84%（同期19起）；冒烟原始火灾警情197起，同比下降31.83%（同期289起）；直接经济损失129.75万元，同比上升15.4%（同期112.44万元）。</li>
									<li class="iconfont icon-triangle" style="padding-left:0px;text-indent:2em;">数据来源于：全国火灾统计管理系统，统计时间为2016年1月1日至2016年12月31日；排名以原始火灾警情多至少依序排名。</li>
									<li class="iconfont icon-star" style="padding-left:0px;text-indent:2em;">同等排序不分先后。</li>
								</ul>
							</div>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
 	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
</body>
</html>