<!DOCTYPE html>
<html>
<head th:with="title=${'2017年1-3月天河区火灾警情基本数据'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">数据统计</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<a th:href="@{/app/statistical}" class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded">
							<!-- 内容区域 -->
							<div class="timeBox tc fb font-red">2017年1-3月天河区火灾警情基本数据</div>
							<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-red mt15">
								<a class="mui-control-item mui-active" href="#item1">原始</a>
								<a class="mui-control-item" href="#item2">冒烟</a>
								<a class="mui-control-item" href="#item3">确认</a>
								<a class="mui-control-item" href="#item4">损失</a>
								<a class="mui-control-item" href="#item5">受伤</a>
								<a class="mui-control-item" href="#item6">死亡</a>
							</div>
							<div class="tableBox mt10">
								<div id="item1" class="mui-control-content mui-active">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">原始火灾警情</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">16</td>
												<td class="blueBg">11</td>
												<td class="blueBg">45.45%</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">13</td>
												<td class="blueBg">9</td>
												<td class="blueBg">44.44%</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">11</td>
												<td class="blueBg">9</td>
												<td class="blueBg">22.22%</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">10</td>
												<td class="blueBg">7</td>
												<td class="blueBg">42.86%</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">8</td>
												<td class="blueBg">3</td>
												<td class="blueBg">166.67%</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">5</td>
												<td class="blueBg">8</td>
												<td class="blueBg">-37.50%</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">4</td>
												<td class="blueBg">5</td>
												<td class="blueBg">-20.00%</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">4</td>
												<td class="blueBg">1</td>
												<td class="blueBg">300.00%</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">4</td>
												<td class="blueBg">9</td>
												<td class="blueBg">-55.56%</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">3</td>
												<td class="blueBg">7</td>
												<td class="blueBg">-57.14%</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">2</td>
												<td class="blueBg">1</td>
												<td class="blueBg">100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">2</td>
												<td class="blueBg">2</td>
												<td class="blueBg">0.00%</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">1</td>
												<td class="blueBg">5</td>
												<td class="blueBg">-80.00%</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">1</td>
												<td class="blueBg">3</td>
												<td class="blueBg">66.67%</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">1</td>
												<td class="blueBg">3</td>
												<td class="blueBg">66.67%</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">1</td>
												<td class="blueBg">2</td>
												<td class="blueBg">-50.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">0</td>
												<td class="blueBg">4</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">3</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">0</td>
												<td class="blueBg">4</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">87</td>
												<td class="blueBg fb">97</td>
												<td class="blueBg fb">-10.31%</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="item2" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">冒烟类成灾警情</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">9</td>
												<td class="blueBg">4</td>
												<td class="blueBg">125.00%</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">8</td>
												<td class="blueBg">3</td>
												<td class="blueBg">166.67%</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">6</td>
												<td class="blueBg">3</td>
												<td class="blueBg">100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">2</td>
												<td class="blueBg">1</td>
												<td class="blueBg">100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">2</td>
												<td class="blueBg">3</td>
												<td class="blueBg">-33.33%</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">3</td>
												<td class="blueBg">3</td>
												<td class="blueBg">0.00%</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">0</td>
												<td class="blueBg">3</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">3</td>
												<td class="blueBg">1</td>
												<td class="blueBg">200.00%</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">3</td>
												<td class="blueBg">3</td>
												<td class="blueBg">0.00%</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">1</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0.00%</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">1</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0.00%</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">0</td>
												<td class="blueBg">3</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">39</td>
												<td class="blueBg fb">37</td>
												<td class="blueBg fb">5.41%</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="item3" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">确认类成灾警情</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">2</td>
												<td class="blueBg">1</td>
												<td class="blueBg">100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">1</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0.00%</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">9</td>
												<td class="blueBg fb">6</td>
												<td class="blueBg fb">50.00%</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="item4" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">直接经济损失</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">10000</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">51000</td>
												<td class="blueBg">30000</td>
												<td class="blueBg">70.00%</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">10000</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">10000</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">7000000</td>
												<td class="blueBg">5000</td>
												<td class="blueBg">139900.00%</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">0</td>
												<td class="blueBg">50000</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">100000</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">30000</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">200000</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">0</td>
												<td class="blueBg">500</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2000</td>
												<td class="blueBg">-100.00%</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">7411000</td>
												<td class="blueBg fb">87500</td>
												<td class="blueBg fb">8369.71%</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="item5" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">受伤</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="item6" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="3">死亡</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
												<th class="blueBg light">同比</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg"></td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">-</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="remarkBox mt10">
								<div class="tit fl">备注：</div>
								<ul class="remarkContent oh">
									<li class="iconfont icon-triangle" style="padding-left:0px;text-indent:2em;">1-3月份，我区在全国火灾统计管理系统累计原始火灾警情104起，重复录入1起，超期录入16起；实际接原始火灾警情87起。</li>
									<li class="iconfont icon-triangle" style="padding-left:0px;text-indent:2em;">数据来源于：全国火灾统计管理系统，统计时间为2017年1月1日至2017年3月24日；排名以原始火灾警情同比数从下降幅度多至少依序排名。</li>
									<li class="iconfont icon-star" style="padding-left:0px;text-indent:2em;">同等排序不分先后</li>
								</ul>
							</div>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
</body>
</html>