<!DOCTYPE html>
<html>
<head th:with="title=${'2015年1-12月天河区消防执法情况'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">数据统计</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<a th:href="@{/app/statistical}" class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded">
							<!-- 内容区域 -->
							<div class="timeBox tc fb font-red">2015年1-12月天河区消防执法情况</div>
							<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-red mt15">
								<a class="mui-control-item mui-active" href="#item1">行政拘留</a>
								<a class="mui-control-item" href="#item2">行政罚款</a>
								<a class="mui-control-item" href="#item3">三停</a>
								<a class="mui-control-item" href="#item4">临时查封</a>
							</div>
							<div class="tableBox mt10">
								<div id="item1" class="mui-control-content mui-active">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="2">行政拘留</th>
											</tr>
											<tr>
												<th class="blueBg light">2015</th>
												<th class="blueBg light">同期</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">26</td>
												<td class="blueBg">25</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">22</td>
												<td class="blueBg">16</td>
											</tr>
											<tr>
												<td class="grayBg">3</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">20</td>
												<td class="blueBg">17</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">18</td>
												<td class="blueBg">13</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">14</td>
												<td class="blueBg">22</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">14</td>
												<td class="blueBg">18</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">13</td>
												<td class="blueBg">15</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">13</td>
												<td class="blueBg">15</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">12</td>
												<td class="blueBg">15</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">12</td>
												<td class="blueBg">13</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">10</td>
												<td class="blueBg">15</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">9</td>
												<td class="blueBg">9</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">7</td>
												<td class="blueBg">18</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">7</td>
												<td class="blueBg">13</td>
											</tr>
											<tr>
												<td class="grayBg">15</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">6</td>
												<td class="blueBg">10</td>
											</tr>
											<tr>
												<td class="grayBg">15</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">6</td>
												<td class="blueBg">11</td>
											</tr>
											<tr>
												<td class="grayBg">17</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">5</td>
												<td class="blueBg">16</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">4</td>
												<td class="blueBg">12</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">4</td>
												<td class="blueBg">15</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">4</td>
												<td class="blueBg">12</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">4</td>
												<td class="blueBg">7</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">446</td>
												<td class="blueBg fb">453</td>
											</tr>
										</tbody>
									</table>

								</div>
								<div id="item2" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="3">排序</th>
												<th width="60" class="greenBg" rowspan="3">街道</th>
												<th class="blueBg" colspan="4">行政罚款</th>
											</tr>
											<tr>
												<th class="blueBg light" colspan="2">2015</th>
												<th class="blueBg light" colspan="2">同期</th>
											</tr>
											<tr>
												<th class="blueBg light">宗</th>
												<th class="blueBg light">元</th>
												<th class="blueBg light">宗</th>
												<th class="blueBg light">元</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">27</td>
												<td class="blueBg">651500</td>
												<td class="blueBg">27</td>
												<td class="blueBg">526000</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">23</td>
												<td class="blueBg">550000</td>
												<td class="blueBg">18</td>
												<td class="blueBg">547000</td>
											</tr>
											<tr>
												<td class="grayBg">3</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">28</td>
												<td class="blueBg">440000</td>
												<td class="blueBg">45</td>
												<td class="blueBg">617000</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">10</td>
												<td class="blueBg">405000</td>
												<td class="blueBg">26</td>
												<td class="blueBg">541500</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">9</td>
												<td class="blueBg">385000</td>
												<td class="blueBg">11</td>
												<td class="blueBg">530000</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">135</td>
												<td class="blueBg">354000</td>
												<td class="blueBg">257</td>
												<td class="blueBg">738000</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">23</td>
												<td class="blueBg">300000</td>
												<td class="blueBg">27</td>
												<td class="blueBg">577500</td>
											</tr>
											<tr>
												<td class="grayBg">8</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">18</td>
												<td class="blueBg">297500</td>
												<td class="blueBg">18</td>
												<td class="blueBg">185500</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">7</td>
												<td class="blueBg">190000</td>
												<td class="blueBg">4</td>
												<td class="blueBg">200000</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">14</td>
												<td class="blueBg">180500</td>
												<td class="blueBg">22</td>
												<td class="blueBg">332000</td>
											</tr>
											<tr>
												<td class="grayBg">11</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">12</td>
												<td class="blueBg">175500</td>
												<td class="blueBg">10</td>
												<td class="blueBg">170500</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">10</td>
												<td class="blueBg">165000</td>
												<td class="blueBg">14</td>
												<td class="blueBg">41000</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">9</td>
												<td class="blueBg">140500</td>
												<td class="blueBg">17</td>
												<td class="blueBg">501500</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">12</td>
												<td class="blueBg">136000</td>
												<td class="blueBg">38</td>
												<td class="blueBg">493500</td>
											</tr>
											<tr>
												<td class="grayBg">15</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">8</td>
												<td class="blueBg">111000</td>
												<td class="blueBg">42</td>
												<td class="blueBg">87800</td>
											</tr>
											<tr>
												<td class="grayBg">16</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">11</td>
												<td class="blueBg">74500</td>
												<td class="blueBg">9</td>
												<td class="blueBg">47500</td>
											</tr>
											<tr>
												<td class="grayBg">17</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">6</td>
												<td class="blueBg">61500</td>
												<td class="blueBg">13</td>
												<td class="blueBg">147500</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">13</td>
												<td class="blueBg">54000</td>
												<td class="blueBg">11</td>
												<td class="blueBg">73000</td>
											</tr>
											<tr>
												<td class="grayBg">19</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">6</td>
												<td class="blueBg">51000</td>
												<td class="blueBg">7</td>
												<td class="blueBg">104000</td>
											</tr>
											<tr>
												<td class="grayBg">20</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">8</td>
												<td class="blueBg">41500</td>
												<td class="blueBg">19</td>
												<td class="blueBg">41500</td>
											</tr>
											<tr>
												<td class="grayBg">21</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">10</td>
												<td class="blueBg">39000</td>
												<td class="blueBg">22</td>
												<td class="blueBg">175300</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">399</td>
												<td class="blueBg fb">4803000</td>
												<td class="blueBg fb">657</td>
												<td class="blueBg fb">6677600</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="item3" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="2">三停</th>
											</tr>
											<tr>
												<th class="blueBg light">2015</th>
												<th class="blueBg light">同期</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">12</td>
												<td class="blueBg">5</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">11</td>
												<td class="blueBg">11</td>
											</tr>
											<tr>
												<td class="grayBg">3</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">9</td>
												<td class="blueBg">11</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">6</td>
												<td class="blueBg">8</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">6</td>
												<td class="blueBg">3</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">5</td>
												<td class="blueBg">3</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">4</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">4</td>
												<td class="blueBg">6</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">2</td>
												<td class="blueBg">5</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">2</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">2</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">2</td>
												<td class="blueBg">5</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">2</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">1</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">1</td>
												<td class="blueBg">4</td>
											</tr>
											<tr>
												<td class="grayBg">16</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">16</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">16</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">16</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">16</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">16</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">69</td>
												<td class="blueBg fb">71</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="item4" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="2">临时查封</th>
											</tr>
											<tr>
												<th class="blueBg light">2015</th>
												<th class="blueBg light">同期</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">632</td>
												<td class="blueBg">548</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">246</td>
												<td class="blueBg">113</td>
											</tr>
											<tr>
												<td class="grayBg">3</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">223</td>
												<td class="blueBg">178</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">75</td>
												<td class="blueBg">29</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">61</td>
												<td class="blueBg">22</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">29</td>
												<td class="blueBg">25</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">24</td>
												<td class="blueBg">28</td>
											</tr>
											<tr>
												<td class="grayBg">8</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">22</td>
												<td class="blueBg">26</td>
											</tr>
											<tr>
												<td class="grayBg">9</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">17</td>
												<td class="blueBg">16</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">13</td>
												<td class="blueBg">14</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">13</td>
												<td class="blueBg">24</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">13</td>
												<td class="blueBg">13</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">13</td>
												<td class="blueBg">24</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">11</td>
												<td class="blueBg">14</td>
											</tr>
											<tr>
												<td class="grayBg">15</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">10</td>
												<td class="blueBg">9</td>
											</tr>
											<tr>
												<td class="grayBg">16</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">8</td>
												<td class="blueBg">17</td>
											</tr>
											<tr>
												<td class="grayBg">16</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">8</td>
												<td class="blueBg">11</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">7</td>
												<td class="blueBg">12</td>
											</tr>
											<tr>
												<td class="grayBg">19</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">6</td>
												<td class="blueBg">5</td>
											</tr>
											<tr>
												<td class="grayBg">20</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">3</td>
												<td class="blueBg">9</td>
											</tr>
											<tr>
												<td class="grayBg">21</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">0</td>
												<td class="blueBg">4</td>
											</tr>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">1434</td>
												<td class="blueBg fb">1141</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="remarkBox mt10">
								<div class="tit fl">备注：</div>
								<ul class="remarkContent oh">
									<li class="iconfont icon-triangle" style="padding-left:0px;text-indent:2em;">今年1-12月份，我区因违反消防法行政拘留230人，同比下降25.08%；行政罚款399宗，同比下降39.27%，罚款总额4803000元，同比下降28.07%；“三停”69 宗，同比下降2.82%；临时查封1434宗，上升25.68%。</li>
									<li class="iconfont icon-triangle" style="padding-left:0px;text-indent:2em;">数据来源于各派出所递交的行政处罚、临时查封等决定书，统计时间为截止每月26日。</li>
									<li class="iconfont icon-star" style="padding-left:0px;text-indent:2em;">同等排序不分先后</li>
								</ul>
							</div>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
</body>
</html>