<!DOCTYPE html>
<html>
<head th:with="title=${'2017年1-3月天河区消防执法情况'}" th:include="/layouts/layout::head">
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<div th:replace="/layouts/layout::menu"></div>
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<div class="logo">
						<img th:src="@{/img/logo.png}" />
					</div>
					<a id="offCanvasBtn" href="#offCanvasSide" class="iconfont icon-menu mui-action-menu mui-pull-right"></a>
					<h1 class="mui-title">数据统计</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="filterBox">
							<a th:href="@{/app/statistical}" class="fl btn-filter" >
								<i class="mui-icon mui-icon-arrowleft"></i>
								返回
							</a>
						</div>
						<div class="mui-content-padded">
							<!-- 内容区域 -->
							<div class="timeBox tc fb font-red">2017年1-3月天河区消防执法情况</div>
							<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-red mt15">
								<a class="mui-control-item mui-active" name="item1" href="#">行罚</a>
								<a class="mui-control-item" name="item2" href="#">行拘</a>
								<a class="mui-control-item" name="item3" href="#">刑拘</a>
								<a class="mui-control-item" name="item4" href="#">临封</a>
								<a class="mui-control-item" name="item5" href="#">三停</a>
							</div>
							<div class="tableBox mt10">
								<div id="item1" class="mui-control-content mui-active">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="3">排序</th>
												<th width="60" class="greenBg" rowspan="3">街道</th>
												<th class="blueBg" colspan="4">行政罚款</th>
											</tr>
											<tr>
												<th class="blueBg light" colspan="2">2017</th>
												<th class="blueBg light" colspan="2">同期</th>
											</tr>
											<tr>
												<th class="blueBg light">宗</th>
												<th class="blueBg light">元</th>
												<th class="blueBg light">宗</th>
												<th class="blueBg light">元</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">35</td>
												<td class="blueBg fb">709000</td>
												<td class="blueBg fb">43</td>
												<td class="blueBg fb">1295500</td>
											</tr>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">3</td>
												<td class="blueBg">150000</td>
												<td class="blueBg">1</td>
												<td class="blueBg">50000</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">4</td>
												<td class="blueBg">110000</td>
												<td class="blueBg">4</td>
												<td class="blueBg">85000</td>
											</tr>
											<tr>
												<td class="grayBg">3</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">3</td>
												<td class="blueBg">90000</td>
												<td class="blueBg">9</td>
												<td class="blueBg">390000</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">3</td>
												<td class="blueBg">63000</td>
												<td class="blueBg">1</td>
												<td class="blueBg">40000</td>
											</tr>
											<tr>
												<td class="grayBg">5</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">1</td>
												<td class="blueBg">50000</td>
												<td class="blueBg">2</td>
												<td class="blueBg">40000</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">3</td>
												<td class="blueBg">45000</td>
												<td class="blueBg">2</td>
												<td class="blueBg">55000</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">3</td>
												<td class="blueBg">31000</td>
												<td class="blueBg">4</td>
												<td class="blueBg">80000</td>
											</tr>
											<tr>
												<td class="grayBg">8</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">1</td>
												<td class="blueBg">30000</td>
												<td class="blueBg">1</td>
												<td class="blueBg">30000</td>
											</tr>
											<tr>
												<td class="grayBg">8</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">4</td>
												<td class="blueBg">30000</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">1</td>
												<td class="blueBg">20000</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">1</td>
												<td class="blueBg">20000</td>
												<td class="blueBg">2</td>
												<td class="blueBg">120000</td>
											</tr>
											<tr>
												<td class="grayBg">10</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">1</td>
												<td class="blueBg">20000</td>
												<td class="blueBg">2</td>
												<td class="blueBg">30000</td>
											</tr>
											<tr>
												<td class="grayBg">13</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">2</td>
												<td class="blueBg">15000</td>
												<td class="blueBg">4</td>
												<td class="blueBg">155000</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">1</td>
												<td class="blueBg">10000</td>
												<td class="blueBg">3</td>
												<td class="blueBg">45000</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">2</td>
												<td class="blueBg">10000</td>
												<td class="blueBg">1</td>
												<td class="blueBg">10000</td>
											</tr>
											<tr>
												<td class="grayBg">14</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">1</td>
												<td class="blueBg">10000</td>
												<td class="blueBg">1</td>
												<td class="blueBg">10000</td>
											</tr>
											<tr>
												<td class="grayBg">17</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">1</td>
												<td class="blueBg">5000</td>
												<td class="blueBg">1</td>
												<td class="blueBg">20000</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
												<td class="blueBg">30000</td>
											</tr>
											<tr>
												<td class="grayBg">18</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
												<td class="blueBg">4</td>
												<td class="blueBg">105500</td>
											</tr>
											
										</tbody>
									</table>
								</div>
								<div id="item2" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="2">行政拘留</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">22</td>
												<td class="blueBg fb">29</td>
											</tr>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">4</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">3</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">3</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">3</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">3</td>
												<td class="blueBg">5</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">1</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">1</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">1</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">1</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">1</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">0</td>
												<td class="blueBg">5</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">4</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											
										</tbody>
									</table>
								</div>
								<div id="item3" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="2">刑事拘留</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">5</td>
												<td class="blueBg fb">0</td>
											</tr>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">4</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">12</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											
										</tbody>
									</table>
								</div>
								<div id="item4" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="2">临时查封</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">22</td>
												<td class="blueBg fb">239</td>
											</tr>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">14</td>
												<td class="blueBg">36</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">3</td>
												<td class="blueBg">100</td>
											</tr>
											<tr>
												<td class="grayBg">2</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">3</td>
												<td class="blueBg">3</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">1</td>
												<td class="blueBg">14</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">1</td>
												<td class="blueBg">24</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">0</td>
												<td class="blueBg">39</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">0</td>
												<td class="blueBg">5</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">4</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">0</td>
												<td class="blueBg">5</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">0</td>
												<td class="blueBg">3</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">6</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											
										</tbody>
									</table>
								</div>
								<div id="item5" class="mui-control-content">
									<table class="table fireDataTable">
										<thead>
											<tr>
												<th width="45" class="grayBg" rowspan="2">排序</th>
												<th width="60" class="greenBg" rowspan="2">街道</th>
												<th class="blueBg" colspan="2">三停</th>
											</tr>
											<tr>
												<th class="blueBg light">2017</th>
												<th class="blueBg light">同期</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="greenBg fb" colspan="2">全区</td>
												<td class="blueBg fb">11</td>
												<td class="blueBg fb">22</td>
											</tr>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">冼村</td>
												<td class="blueBg">3</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">1</td>
												<td class="greenBg">石牌</td>
												<td class="blueBg">3</td>
												<td class="blueBg">9</td>
											</tr>
											<tr>
												<td class="grayBg">3</td>
												<td class="greenBg">沙河</td>
												<td class="blueBg">2</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">沙东</td>
												<td class="blueBg">1</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">兴华</td>
												<td class="blueBg">1</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">4</td>
												<td class="greenBg">车陂</td>
												<td class="blueBg">1</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">员村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">天园</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">猎德</td>
												<td class="blueBg">0</td>
												<td class="blueBg">3</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">林和</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">棠下</td>
												<td class="blueBg">0</td>
												<td class="blueBg">1</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">前进</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">元岗</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">新塘</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">黄村</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">珠吉</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">长兴</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">天河南</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">凤凰</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">龙洞</td>
												<td class="blueBg">0</td>
												<td class="blueBg">0</td>
											</tr>
											<tr>
												<td class="grayBg">7</td>
												<td class="greenBg">五山</td>
												<td class="blueBg">0</td>
												<td class="blueBg">2</td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
							<div class="remarkBox mt10">
								<div class="tit fl">备注：</div>
								<ul class="remarkContent oh">
									<li class="iconfont icon-triangle">今年1-3月份，我区因违反消防法行政罚款35宗，同比下降18.61%（同期43宗），罚款总额70.9万元，同比下降45.27%（同期129.55万元）；行政拘留22人，同比下降24.14%（同期29人）；临时查封22间，同比下降90.8%（同期239间）；“三停”11宗，同比下降50%（同期22宗）；刑事拘留5人（同期为零）。</li>
									<li class="iconfont icon-triangle">数据来源于各派出所递交的行政处罚、临时查封等决定书，统计时间为每月25日。临时查封统计以《临时查封决定书》、《同意进入临时查封现场决定书》、《同意解除临时查封决定书》为依据。</li>
									<li class="iconfont icon-star">同等排序不分先后</li>
								</ul>
							</div>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
	<script th:src="@{/js/mui.js}"></script>
	<script th:src="@{/js/normal.js}"></script>
	<script th:src="@{/js/jquery-2.1.0.js}"></script>
	<script th:inline="javascript">
		//控制不让点当前表格对应的标题
	    var occurTitle='';
	    var compareTitle = '行罚';
	    $('#segmentedControl a').bind('tap',function(){
	    	occurTitle = this.innerHTML;
	    	if(occurTitle ==  compareTitle){
	    		return;
	    	}else{
				$('.mui-control-content').removeClass('mui-active');
	    		$('#' + this.name).addClass('mui-active');
	    		compareTitle = occurTitle;
	    	}
	    })
	</script>
</body>
</html>