<!DOCTYPE html>
<html>
<head th:with="title=${'统计数据展示'}" th:include="/layouts/layout::head">
</head>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--菜单部分-->
        <div th:replace="/layouts/layout::menu"></div>
        <div class="mui-inner-wrap">
            <!-- Header 部分 -->
            <div th:with="headTitle=${'统计数据展示'}"></div>
            <div th:replace="/layouts/layout::menu"></div>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-content-padded">
							<!-- 内容区域 -->
							<div class="chartBox mt20 mb20">
								<img th:src="@{/custom/upload/chart1.png}" width="100%" />
							</div>
							<!-- 内容区域 end -->
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
    <script th:src="@{/js/mui.js}"></script>
    <script th:src="@{/js/normal.js}"></script>
</body>
</html>