<!DOCTYPE html>
<html>
<head th:with="title=${'区域概况'}" th:include="/layouts/layout::head">
</head>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--菜单部分-->
        <div th:replace="/layouts/layout::menu"></div>
        <div class="mui-inner-wrap">
            <!-- Header 部分 -->
            <div th:with="headTitle=${'区域概况'}"></div>
            <div th:replace="/layouts/layout::menu"></div>
            <div id="offCanvasContentScroll"
                class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="filterBox">
                        <h1>天河区消防安全热力地图</h1>
                        <button onclick="hide('streetPopover')"
                            class="fl btn-filter">
                            街道 <i class="mui-icon mui-icon-arrowdown"></i>
                        </button>
                        <div id="streetPopover" style="display: none"
                            class="popoverbox">
                            <ul class="regionList">
                                <li class="allStreet"><a
                                    href="javascript:;">全区</a></li>
                                <div class="clearfix"></div>
                                <li class="selected"><a
                                    href="streetSelected.html">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                                <li><a href="javascript:;">员村</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mui-content-padded">
                        <!-- 内容区域 -->
                        <div class="chartBox mt20 mb20">
                            <img src="../custom/upload/chart2.png"
                                width="100%" />
                        </div>
                        <div class="heatlistBox">
                            <div class="listTit mb10">天河区消防安全热力图表单</div>
                            <div class="listLevel mb10 mt10">
                                <div class="levelTit fl mr10">隐患等级</div>
                                <div class="mui-content oh tc">
                                    <div class="mui-row">
                                        <div class="mui-col-xs-3">
                                            <i
                                                class="iconfont icon-circle mr5 font-red"></i>1级
                                        </div>
                                        <div class="mui-col-xs-3">
                                            <i
                                                class="iconfont icon-circle mr5 font-orange"></i>2级
                                        </div>
                                        <div class="mui-col-xs-3">
                                            <i
                                                class="iconfont icon-circle mr5 font-yellow"></i>3级
                                        </div>
                                        <div class="mui-col-xs-3">
                                            <i
                                                class="iconfont icon-circle mr5 font-blackishGreen"></i>4级
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="groupList">
                                <li>
                                    <div class="group-item">
                                        <div class="streetName fl mr10">员村</div>
                                        <div class="oh">
                                            <div class="type-item">
                                                <div class="tit fl">重点单位</div>
                                                <div class="oh">
                                                    <b class="font-red">30</b>
                                                    <a
                                                        class="btn-detail fr"
                                                        href="securityDetail.html">查看详情<i
                                                        class="mui-icon mui-icon-arrowright"></i></a>
                                                </div>
                                            </div>
                                            <div class="type-item">
                                                <div class="tit fl">隐患等级</div>
                                                <div class="oh">
                                                    <div class="mui-row">
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-red"></i>13
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-orange"></i>25
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-yellow"></i>7
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-blackishGreen"></i>18
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-item">
                                        <div class="streetName fl mr10">员村</div>
                                        <div class="oh">
                                            <div class="type-item">
                                                <div class="tit fl">重点单位</div>
                                                <div class="oh">
                                                    <b class="font-red">30</b>
                                                    <a
                                                        class="btn-detail fr"
                                                        href="securityDetail.html">查看详情<i
                                                        class="mui-icon mui-icon-arrowright"></i></a>
                                                </div>
                                            </div>
                                            <div class="type-item">
                                                <div class="tit fl">隐患等级</div>
                                                <div class="oh">
                                                    <div class="mui-row">
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-red"></i>13
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-orange"></i>25
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-yellow"></i>7
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-blackishGreen"></i>18
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-item">
                                        <div class="streetName fl mr10">员村</div>
                                        <div class="oh">
                                            <div class="type-item">
                                                <div class="tit fl">重点单位</div>
                                                <div class="oh">
                                                    <b class="font-red">30</b>
                                                    <a
                                                        class="btn-detail fr"
                                                        href="securityDetail.html">查看详情<i
                                                        class="mui-icon mui-icon-arrowright"></i></a>
                                                </div>
                                            </div>
                                            <div class="type-item">
                                                <div class="tit fl">隐患等级</div>
                                                <div class="oh">
                                                    <div class="mui-row">
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-red"></i>13
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-orange"></i>25
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-yellow"></i>7
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-blackishGreen"></i>18
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-item">
                                        <div class="streetName fl mr10">员村</div>
                                        <div class="oh">
                                            <div class="type-item">
                                                <div class="tit fl">重点单位</div>
                                                <div class="oh">
                                                    <b class="font-red">30</b>
                                                    <a
                                                        class="btn-detail fr"
                                                        href="securityDetail.html">查看详情<i
                                                        class="mui-icon mui-icon-arrowright"></i></a>
                                                </div>
                                            </div>
                                            <div class="type-item">
                                                <div class="tit fl">隐患等级</div>
                                                <div class="oh">
                                                    <div class="mui-row">
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-red"></i>13
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-orange"></i>25
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-yellow"></i>7
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-blackishGreen"></i>18
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-item">
                                        <div class="streetName fl mr10">员村</div>
                                        <div class="oh">
                                            <div class="type-item">
                                                <div class="tit fl">重点单位</div>
                                                <div class="oh">
                                                    <b class="font-red">30</b>
                                                    <a
                                                        class="btn-detail fr"
                                                        href="securityDetail.html">查看详情<i
                                                        class="mui-icon mui-icon-arrowright"></i></a>
                                                </div>
                                            </div>
                                            <div class="type-item">
                                                <div class="tit fl">隐患等级</div>
                                                <div class="oh">
                                                    <div class="mui-row">
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-red"></i>13
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-orange"></i>25
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-yellow"></i>7
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-blackishGreen"></i>18
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-item">
                                        <div class="streetName fl mr10">员村</div>
                                        <div class="oh">
                                            <div class="type-item">
                                                <div class="tit fl">重点单位</div>
                                                <div class="oh">
                                                    <b class="font-red">30</b>
                                                    <a
                                                        class="btn-detail fr"
                                                        href="securityDetail.html">查看详情<i
                                                        class="mui-icon mui-icon-arrowright"></i></a>
                                                </div>
                                            </div>
                                            <div class="type-item">
                                                <div class="tit fl">隐患等级</div>
                                                <div class="oh">
                                                    <div class="mui-row">
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-red"></i>13
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-orange"></i>25
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-yellow"></i>7
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-blackishGreen"></i>18
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-item">
                                        <div class="streetName fl mr10">员村</div>
                                        <div class="oh">
                                            <div class="type-item">
                                                <div class="tit fl">重点单位</div>
                                                <div class="oh">
                                                    <b class="font-red">30</b>
                                                    <a
                                                        class="btn-detail fr"
                                                        href="securityDetail.html">查看详情<i
                                                        class="mui-icon mui-icon-arrowright"></i></a>
                                                </div>
                                            </div>
                                            <div class="type-item">
                                                <div class="tit fl">隐患等级</div>
                                                <div class="oh">
                                                    <div class="mui-row">
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-red"></i>13
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-orange"></i>25
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-yellow"></i>7
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-blackishGreen"></i>18
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-item">
                                        <div class="streetName fl mr10">员村</div>
                                        <div class="oh">
                                            <div class="type-item">
                                                <div class="tit fl">重点单位</div>
                                                <div class="oh">
                                                    <b class="font-red">30</b>
                                                    <a
                                                        class="btn-detail fr"
                                                        href="securityDetail.html">查看详情<i
                                                        class="mui-icon mui-icon-arrowright"></i></a>
                                                </div>
                                            </div>
                                            <div class="type-item">
                                                <div class="tit fl">隐患等级</div>
                                                <div class="oh">
                                                    <div class="mui-row">
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-red"></i>13
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-orange"></i>25
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-yellow"></i>7
                                                        </div>
                                                        <div
                                                            class="mui-col-xs-3">
                                                            <i
                                                                class="iconfont icon-circle mr5 font-blackishGreen"></i>18
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- 内容区域 end -->
                    </div>
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
    <script src="../js/mui.js"></script>
    <script src="../js/normal.js"></script>
</body>
</html>