<!DOCTYPE html>
<html>
<head th:with="title=${'凤凰街区消防安全情况'}" th:include="/layouts/layout::head">
</head>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--菜单部分-->
        <div th:replace="/layouts/layout::menu"></div>
        <div class="mui-inner-wrap">
            <!-- Header 部分 -->
            <div th:with="headTitle=${'区域概况'}"></div>
            <div th:replace="/layouts/layout::menu"></div>
            <div id="offCanvasContentScroll"
                class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="filterBox">
                        <h1>凤凰街区消防安全详情</h1>
                        <a href="regionalProfile.html"
                            class="fl btn-filter"> <i
                            class="mui-icon mui-icon-arrowleft"></i> 返回
                        </a>
                    </div>
                    <div class="mui-content-padded">
                        <!-- 内容区域 -->
                        <ul class="groupList">
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-red"><em>1</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-orange"><em>2</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-yellow"><em>3</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-blackishGreen"><em>4</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-red"><em>1</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-orange"><em>2</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-yellow"><em>3</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-blackishGreen"><em>4</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-red"><em>1</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-orange"><em>2</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-yellow"><em>3</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h1>检查项目检查项目检查项目</h1>
                                <div class="mui-row">
                                    <div class="mui-col-xs-5">
                                        <div class="tit fl">安全隐患等级</div>
                                        <div class="oh fb num">
                                            <i
                                                class="iconfont icon-circle mr5 font-blackishGreen"><em>4</em></i>
                                        </div>
                                    </div>
                                    <div class="mui-col-xs-4">
                                        <div class="tit fl">不合格项目</div>
                                        <div class="oh fb num font-red">23</div>
                                    </div>
                                    <div class="mui-col-xs-3 tr">
                                        <a class="btn-detail"
                                            href="javascript:;">查看详情<i
                                            class="mui-icon mui-icon-arrowright"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- 内容区域 end -->
                    </div>
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
    <script th:src="@{/js/mui.js}"></script>
    <script th:src="@{/js/normal.js}"></script>
</body>
</html>